/* Topic list */

.topics-section {
  padding-top: 35px;
}

.grouper--6 .topics-section__item {
  width: calc(100% / 6);
}
.grouper--5 .topics-section__item {
  width: calc(100% / 5);
}
.grouper--4 .topics-section__item {
  width: calc(100% / 4);
}
.grouper--3 .topics-section__item {
  width: calc(100% / 3);
}
.grouper--2 .topics-section__item {
  width: calc(100% / 2);
}
.grouper--1 .topics-section__item {
  padding-right: 0;
  width: auto;
}
  .topics-section__item {
    display: inline-block;
    font-family: var(--font-sans);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
  }
  .breakpoint-w-799 .topics-section__item {
    flex: 1 25%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .breakpoint-w-699 .topics-section__item {
    flex: 1 33.3333333%;
  }
  .breakpoint-phone-wide .topics-section__item {
    flex: 1 50%;
  }
  .breakpoint-phone .topics-section__item {
    flex: 1 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
    .topics-section__item a {
      display: block;
      padding: 8px 15px;
    }
      .topics-section__item a:hover {
        color: var(--primary-color);
        text-decoration: underline;
      }
