/*
  Home
*/

.bs-home__intro {
  margin-bottom: 3rem;
}

.bs-home__logo {
  width: 30.6rem;
  height: 16.1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.breakpoint-w-768 .bs-home__logo {
}

.bs-home__logo-anchor {
  background-image: url(masthead-logo--white.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 100%;
  width: 100%;
}

/* Poster */

.bs-home__poster {
  width: 100%;
  margin-bottom: 5rem;
}

.bs-home__poster img {
  width: 100%;
  display: block;
}

/* Details */

.bs-home__details {
  display: flex;
}

.bs-home__where {
  width: 50%;
}

.bs-home__social {
  width: 50%;
}

.bs-home__social ul {
  font-size: 2rem;
  margin-top: 1rem;
}

.bs-home__social li {
  display: inline;
  padding-right: 1.5rem;
}

.bs-home__social li:last-child {
  padding-right: 0;
}
