/* Staff */

.staff__staff {
  margin-bottom: 3.5rem;
}

.staff__board {
  border-top: 1px solid #dfdfdf;
  padding-top: 3rem;
  margin-bottom: 3.5rem;
}
  .breakpoint-phone .staff__board {
    border-top: none;
    padding-top: 0;
  }

.staff__staff .person-summary__block,
.staff__board .person-summary__block {
  padding-bottom: 1.5rem;
}
.staff__staff .person-summary__intro,
.staff__board .person-summary__intro {
  display: block;
}
