/* Sub-page nav */

.sub-page-nav {
  font-family: var(--font-sans);
  font-weight: bold;
}

  .sub-page-nav--level-1 a {
  }

  .sub-page-nav--level-2 {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-weight: normal;
    margin-bottom: 1.2rem;
    margin-top: .6rem;
  }

  .sub-page-nav__item {}
    .sub-page-nav__item--active {}
    .sub-page-nav__item--has-children {}

    .sub-page-nav__item-icon {
      color: #aaa;
      display: inline-block;
      font-size: 1.2rem;
      padding-left: .8rem;
      margin-top: .4rem;
      padding-bottom: .3rem;
      margin-left: .4rem;
    }

  .sub-page-nav__anchor {
    border-radius: .3rem;
    display: block;
    padding: .6rem 1.2rem .8rem;
  }
    .sub-page-nav__anchor--active {
      color: var(--primary-color);
    }
    .sub-page-nav__anchor:hover {
      background-color: #dbfffb;
      color: var(--primary-color);
    }
      .sub-page-nav__anchor:hover .sub-page-nav__item-icon {
        color: var(--primary-color-light);
      }

