// Import the libs/variables we use in heracles_admin
@import "globals";
@import "bourbon";
@import "font-awesome";
@import "heracles/admin/shared/patterns/all";

// Overrides/additions ---------------------------------------------------------

@import "heracles/sites/wheeler_centre/admin/components/bulk_publication";
@import "heracles/sites/wheeler_centre/admin/fields/field_external_video";
@import "heracles/sites/wheeler_centre/admin/lightboxes/lightbox_flarum_discussion";

// Event exports

.events-export__form {
  display: flex;
  margin-top: 3rem;
  input {
    flex: 1;
  }
  button {
    margin-left: 1rem;
  }
}

// Collapse some of the common things we know are small in the collection indices
.collection-posts__list-summary--asset {
  flex: 0.5;
  text-align: center;
}

.collection-posts__list-summary--date_time {
  flex: 0.75;
}

.collection-posts__list-summary--discussion {
  flex: 0.25;
  text-align: center;
}

// Force the collection lists to full width
.collection-posts__list-item a {
  max-width: calc(100% - 2.4rem);
}

.field-addon-input {
  overflow: hidden;
}
