/* Person page */

.person {
  padding-bottom: 5rem;
}

.person__image {
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
}
.breakpoint-tablet-wide .person__image {
  width: 14rem;
}
.breakpoint-tablet .person__image {
  width: 12rem;
}
.breakpoint-phone-wide .person__image,
.breakpoint-phone .person__image  {
  width: 10rem;
}
  .person__image img {
    border-radius: 50%;
    width: 100%;
  }

.person__title {
  color: var(--primary-color);
  font-family: var(--font-sans);
  font-size: 4.2rem;
  font-weight: bold;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  text-align: center;
}
  .person__title:after {
    border-top: 2px solid #ededed;
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    width: 50%;
  }

.breakpoint-tablet-wide .person__title {
  font-size: 4.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.breakpoint-tablet .person__title {
  font-size: 3.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.breakpoint-phone-wide .person__title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.breakpoint-phone .person__title {
  font-size: 2.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.person__bio {
  float: left;
  width: 60%;
  padding-bottom: 3.5rem;
}
  .person__image-attribution {
    color: #888;
    font-family: var(--font-sans);
    font-size: 1.4rem;
  }


.breakpoint-phone-wide .person__bio,
.breakpoint-phone .person__bio {
  float: none;
  width: 100%;
}
.person__bio-and-events--0 .person__bio {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.breakpoint-tablet-wide .person__bio-and-events--0 .person__bio {
  width: 70%;
}
.breakpoint-tablet .person__bio-and-events--0 .person__bio {
  width: 80%;
}
.breakpoint-phone-wide .person__bio-and-events--0 .person__bio,
.breakpoint-phone .person__bio-and-events--0 .person__bio  {
  width: 100%;
}

/* Person: upcoming events */

.person__upcoming-events {
  float: right;
  width: 35%;
}
.breakpoint-phone-wide .person__upcoming-events,
.breakpoint-phone .person__upcoming-events {
  padding-top: 2rem;
  float: none;
  width: 100%;
}

.person__upcoming-events .grouper {
  text-align: left;
}

.person__upcoming-events .grouper--1 .grouper-item {
  width: 100%;
  padding-right: 3.5rem;
}


/* Person: past events/blog posts/recordings */

.person__related {
  clear: both;
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
}
.breakpoint-phone-wide .person__related,
.breakpoint-phone .person__related {
  padding-bottom: 0;
  padding-top: 2rem;
}

  .person__related-column {
    text-align: left;
    vertical-align: top;
  }
    .person__related-column:first-child {
      border-right: 1px solid #dfdfdf;
    }
    .person__related-column:last-child {
      border-left: 1px solid #dfdfdf;
      margin-left: -.1rem;
    }
    .person__related-column:last-child:first-child {
      border: none;
    }

  .grouper--total-items-1 .person__related-column {
    width: 100%;
    max-width: 60rem;
  }

  .breakpoint-phone-wide .person__related-column,
  .breakpoint-phone .person__related-column {
    width: 100%;
  }

  .person__related .section-header {
    border-bottom: 1px solid #ededed;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .person__related-block {
    font-family: var(--font-sans);
  }
    .person__related-anchor {
      border-bottom: 1px solid #ededed;
      display: block;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
      .person__related-block:last-child .person__related-anchor {
        border-bottom: none;
      }
    .person__related-title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
      .person__related-anchor:hover .person__related-title,
      .person__related-anchor:focus .person__related-title {
        color: var(--primary-color);
        text-decoration: underline;
      }
    .person__related-date {
      color: #999;
      display: block;
      font-size: 1.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

.person__recordings {
  margin-bottom: 3.5rem;
}
.breakpoint-phone-wide .person__recordings,
.breakpoint-phone .person__recordings {
  margin-top: 3rem;
  margin-bottom: 0;
}

.person__podcast-episodes {
  margin-bottom: 3.5rem;
}
.breakpoint-phone-wide .person__podcast-episodes,
.breakpoint-phone .person__podcast-episodes {
  margin-top: 3rem;
  margin-bottom: 0;
}

.person__social-links {
  color: #888;
  font-size: 1.5rem;
  text-align: center;
}
.breakpoint-phone .person__social-links{
  padding-top: 1rem;
}

  .person__social-links__link {
    font-weight: normal;
    text-decoration: underline;
  }
    .person__social-links__link i {
      padding-right: .5rem;
    }
  .person__social-links__link:hover,
  .person__social-links__link:focus {
    color: #222;
  }
  .person__social-links__byline-separator {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }


