/*
  Masthead
*/

.bs-masthead {
  align-items: center;
  display: flex;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.breakpoint-w-768 .bs-masthead {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bs-menu {
  margin-right: auto;
}

.bs-menu,
.bs-support {
  font-size: 2.2rem;
}

.breakpoint-w-768 .bs-menu,
.breakpoint-w-768 .bs-support {
  font-size: 1.5rem;
}

.bs-menu-toggle {
  position: absolute;
  z-index: 1000;
  color: var(--primary-color);
}

.bs-menu--active .bs-menu-toggle span {
  display: none;
}

.bs-menu--active .bs-menu-toggle:after {
  content: "Hide";
}

.bs-menu-toggle:hover {
  cursor: pointer;
}

.bs-home .bs-menu-toggle {
  color: var(--white-color);
}

.bs-support {
  margin-left: auto;
}

/* Close toggle */

.bs-menu-toggle--close {
  color: var(--primary-color);
  position: absolute;
  left: 5rem;
  top: 4.3rem;
  font-size: 2.2rem;
}

.bs-home .bs-menu-toggle--close {
  color: var(--white-color);
}

.bs-menu-toggle--close:hover {
  cursor: pointer;
}

.breakpoint-w-768 .bs-menu-toggle--close {
  font-size: 1.5rem;
  left: 2rem;
  top: 3.5rem;
}


/* Broadside logo */

.bs-masthead__logo {
  width: 14rem;
  height: 7.4rem;
  margin-left: 6rem;
}

.breakpoint-w-768 .bs-masthead__logo {
  width: 9.5rem;
  height: 5rem;
  margin-left: 4rem;
}

.bs-masthead__logo-anchor {
  background-image: url(masthead-logo.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 100%;
  width: 100%;
}

/* Home version */

.bs-home .bs-masthead__logo-anchor {
  display: none;
}

/* Teen version */

.bs-teen .bs-masthead__logo-anchor {
  background-image: url(masthead-logo--teen.svg);
}

/* Main nav */

.bs-main-nav {
  display: none;
  position: absolute;
  background-color: var(--white-color);
}

.bs-home .bs-main-nav {
  background-color: var(--primary-color);
}

.bs-menu--active .bs-main-nav {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.bs-main-nav ul {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bs-main-nav ul li {
  text-align: center;
}

.bs-main-nav li a {
  color: var(--primary-color);
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

.bs-home .bs-main-nav li a {
  color: var(--white-color);
}

.bs-main-nav--what {
  font-size: 8.5rem;
  line-height: 8.5rem;
}

.breakpoint-w-768 .bs-main-nav--what {
  font-size: 5rem;
  line-height: 5rem;
}

.bs-main-nav--when {
  font-size: 14rem;
  line-height: 14rem;
}

.breakpoint-w-768 .bs-main-nav--when {
  font-size: 8rem;
  line-height: 8rem;
}

.bs-main-nav--who {
  font-size: 10rem;
  line-height: 10rem;
}

.breakpoint-w-768 .bs-main-nav--who {
  font-size: 6rem;
  line-height: 6rem;
}

.bs-main-nav--how {
  font-size: 17rem;
  line-height: 17rem;
}

.breakpoint-w-768 .bs-main-nav--how {
  font-size: 10rem;
  line-height: 10rem;
}

.bs-main-nav--teen {
  font-size: 5rem;
  line-height: 5rem;
}

.breakpoint-w-768 .bs-main-nav--teen {
  font-size: 3rem;
  line-height: 3rem;
}
