/*
  Masthead
*/

.bs-masthead {
  align-items: center;
  display: flex;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
}

.breakpoint-w-768 .bs-masthead {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bs-menu,
.bs-support {
  font-size: 2.2rem;
}

.breakpoint-w-768 .bs-menu,
.breakpoint-w-768 .bs-support {
  font-size: 1.5rem;
}

.bs-menu {
  margin-right: auto;
}

.bs-support {
  margin-left: auto;
}

/* Broadside logo */

.bs-masthead__logo {
  width: 14rem;
  height: 7.4rem;
  margin-left: 6rem;
}

.breakpoint-w-768 .bs-masthead__logo {
  width: 9.5rem;
  height: 5rem;
  margin-left: 4rem;
}

.bs-masthead__logo-anchor {
  background-image: url(masthead-logo.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 100%;
  width: 100%;
}
