.sponsors-list .grouper {
  text-align: left;
  margin-bottom: 4rem;
}

.sponsors-list .snap-block {
  vertical-align: middle;
}
.sponsors-list .snap-block img {
  width: 100%;
}

.sponsors-list h1 {
  color: #333;
  font-family: var(--font-sans);
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sponsors-list h2 {
  color: #777;
  font-family: var(--font-sans);
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
