/* Calendar tabs */

.tn-event-listing-mode-tab-nav__list {
  border-bottom: 1px solid #DDD !important;
}

.tn-event-listing-mode-tab-nav__list-item {
  border: none !important;
  color: var(--text-color) !important;
  font-family: var(--font-sans);
  font-size: 1.5rem;
}

.tn-event-listing-mode-tab-nav__list-item:hover {
  background-color: #EEE;
}

.tn-event-listing-mode-tab-nav__list-item.active {
  background-color: transparent !important;
  border-radius: 3px 3px 0 0;
  border: 1px solid #DDD !important;
  border-bottom: 1px solid #F6FBFB !important;
  margin-bottom: -1px !important;
}

.tn-event-listing-mode-tab-nav__list-item.active:hover {
  background-color: transparent !important;
}

.tn-event-listing__primary-view {
  border-radius: 4px;
  border: 2px solid #eee;
  padding: 2rem !important;
}

.tn-btn-datepicker__icon-container {
  color: var(--primary-color) !important;
}

.tn-events-calendar__table {
  border-spacing: 1px !important;
  font-family: var(--font-sans);
  font-size: 1.5rem;
}

.tn-btn-datepicker__btn {
  font-size: 1.7rem !important;
  font-weight: 400 !important;
  margin-left: -1px;
  margin-right: -1px;
}

@media (min-width: 768px) {
  .tn-event-listing-mode-tab-nav__list--secondary {
    top: 32px !important;
    right: 25px !important;
  }
}

.tn-btn-datepicker__icon-container .glyphicon {
  font-size: 2rem;
}

.tn-page-bottom a {
  color: var(--primary-color);
  text-decoration: underline;
}

.tn-events-calendar__event.btn {
  border: none !important;
  font-size: 1.5rem;
}

.tn-events-calendar__event.btn:hover,
.tn-events-calendar__event.btn:active,
.tn-events-calendar__event.btn:focus {
  border: none !important;
  transform: none !important;
}

.tn-events-calendar__day-cell {
  padding: 5px !important;
}

.tn-events-calendar__day-cell--today {
  background-color: var(--primary-color-lighter) !important;
}

.tn-event-listing__controls-heading {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tn-events-calendar__event-time {
  font-weight: 400 !important;
}

.tn-events-calendar__day-number {
  color: #666 !important;
}

.tn-event-listing-view__results-heading {
  font-family: var(--font-sans);
  font-size: 1.5rem !important;
  color: #666 !important;
}

.tn-prod-list-item__property--heading {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem !important;
  font-weight: 700;
}

.tn-prod-list-item__property--heading a:hover {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

.tn-prod-list-item__perf-property {
  color: #333 !important;
  font-family: var(--font-sans);
  font-size: 1.5rem !important;
}

.tn-btn-datepicker__date-display {
  text-transform: capitalize !important;
}

.tn-datepicker td.day[aria-current=date] span {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.tn-datepicker tr:nth-child(0n+2) {
  background-color: var(--primary-color-lighter) !important;
}

.tn-btn-datepicker__btn-container .btn-default {
  border: 1px solid var(--primary-color) !important;
}

.tn-events-list-view__datepicker-divider-label {
  color: #666 !important;
  font-family: var(--font-sans);
  font-style: normal !important;
  font-size: 1.5rem !important;
}

@media (min-width: 768px) {
  .tn-events-list-view__date-range {
    align-items: center;
  }
}

/* Busy indicator */

.tn-event-listing-busy-indicator {
  max-width: 36rem !important;
}

.tn-event-listing-busy-indicator__content {
  box-shadow: 0 10px 50px rgba(0,0,0,.2) !important;
  padding: 4rem !important;
}

.tn-event-listing-busy-indicator__content:after {
  width: 3rem !important;
  height: 3rem !important;
}
