/* Cart */

/* Empty cart message */

.tn-empty-cart-message {
  background-color: transparent !important;
  border: none !important;
  font-size: 1.8rem;
  font-style: normal !important;
  color: #666 !important;
}

.tn-cart-buttons__secondary-action {
  font-family: var(--font-sans);
  font-size: 1.5rem !important;
  text-decoration: underline;
  color: #222;
}

.tn-cart-buttons__secondary-action:hover {
  color: var(--primary-color);
}

/* Cart items */

.tn-cart__section-items .tn-cart-item:first-child {
  border: none;
}

.tn-cart__section-items .tn-cart-item {
  padding: 3rem 0 !important;
}

.tn-cart-item-summary__property--primary {
  font-family: var(--font-sans);
  font-size: 2rem !important;
  font-weight: 700 !important;
}

.tn-cart-item-summary__property--secondary {
  font-family: var(--font-sans);
  font-size: 1.7rem !important;
  color: #666;
}

.tn-cart-item-details__list {
  padding: 0rem !important;
  margin-top: 2rem !important;
}

.tn-cart-item-detail__list {
  font-family: var(--font-sans);
  padding: 1rem !important;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  color: #333;
}

.tn-cart__btn-remove {
  border-radius: 0.4rem;
  top: 27px !important;
}

/* Totals */

.tn-cart-totals {
}

.tn-cart-totals__line-item {
  font-family: var(--font-sans);
}

.tn-cart-totals__line-item--subtotal,
.tn-cart-totals__line-item--subtotal .tn-cart-totals__label,
.tn-cart-totals__label,
.tn-cart-totals__value  {
  font-size: 2rem !important;
  color: #666 !important;
}

.tn-cart-totals__line-item--primary,
.tn-cart-totals__label--total,
.tn-cart-totals__value--total {
  color: #333 !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}

/* Cart billing information */

.tn-patron-billing-information h2,
.tn-patron-shipping-information h2,
.tn-donation-ask-component h2,
.tn-gift-certificates-redemption-component h2 {
  color: #777777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: var(--font-sans);
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: .15em;
  font-weight: 400 !important;
}

.breakpoint-w-768 .tn-patron-shipping-information h2 {
  margin-top: 3rem;
}

.tn-edit-billing-link,
.tn-edit-delivery-link {
  font-size: 1.5rem;
  font-family: var(--font-sans);
  text-decoration: underline;
  margin-top: 1.5rem;
  display: inline-block;
}

.tn-edit-billing-link:hover,
.tn-edit-delivery-link:hover {
  color: #000 !important;
}

.tn-selected-shipping-method {
  font-weight: normal !important;
}

/* Receipt component */

.tn-receipt-component {
  margin-bottom: 4rem;
}

.tn-receipt-component h2 {
  color: #777777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: var(--font-sans);
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: .15em;
  font-weight: 400 !important;
}

.breakpoint-w-768 .tn-receipt-print {
  margin-bottom: 3rem;
}

.tn-receipt-component .tn-receipt-print {
  text-transform: lowercase;
}

.tn-receipt-component .tn-receipt-print:first-letter {
  text-transform: uppercase;
}

.tn-receipt-component .tn-receipt-print::before {
  display: none;
}

/* Gift certificate component */

#tn-payment-apply-gift-certificate-form {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

/* Align process payment button to the right */

.tn-payment-submit-component {
  text-align: right;
}

.tn-order-information-line a {
  text-decoration: underline;
  color: #222;
}

/* Round up component */

.tn-donationAskCheckout-component {
  background-color: var(--primary-color-lighter);
  padding: 2rem !important;
  margin-bottom: 4rem;
}

.tn-donationAskCheckout-component legend {
  border: none;
}

.tn-donationAskCheckout-component .tn-heading {
  color: var(--text-color);
  font-size: 2rem;
  line-height: initial;
}

.tn-donationAskCheckout-component .tn-heading-sub-text {
  color: var(--text-color);
  font-size: 1.5rem;
}

.tn-donationAskCheckout-component ol {
  margin-bottom: 2rem;
}

.tn-donationAskCheckout-component .radio label {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-family: var(--font-sans);
}

.breakpoint-tablet .tn-donationAskCheckout-component .radio label {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.breakpoint-phone-wide .tn-donationAskCheckout-component .radio label,
.breakpoint-phone .tn-donationAskCheckout-component .radio label {
  line-height: 3rem;
}

.tn-donationAskCheckout-component .radio label input {
  top: 0;
}

.tn-donationAskCheckout-component .component-actions {
  margin: 0;
}

.breakpoint-phone-wide .tn-donationAskCheckout-component li.radio,
.breakpoint-phone .tn-donationAskCheckout-component li.radio {
  margin: 10px 0;
}

.tn-donationAskCheckout-component li.radio {
  margin: 5px 0 !important;
}
