/* Cart */

/* Empty cart message */

.tn-empty-cart-message {
  background-color: transparent !important;
  border: none !important;
  font-size: 1.8rem;
}

.tn-cart-buttons__secondary-action {
  font-family: var(--font-sans);
  font-size: 1.5rem !important;
  text-decoration: underline;
  color: #222;
}

.tn-cart-buttons__secondary-action:hover {
  color: var(--primary-color);
}

/* Cart items */

.tn-cart__section-items {
}

.tn-cart__section-items .tn-cart-item:first-child {
  border: none;
}

.tn-cart__section-items .tn-cart-item {
  padding: 3rem 0 !important;
}

.tn-cart-item-summary__property--primary {
  font-family: var(--font-sans);
  font-size: 2rem !important;
  font-weight: 700 !important;
}

.tn-cart-item-summary__property--secondary {
  font-family: var(--font-sans);
  font-size: 1.7rem !important;
  color: #666;
}

.tn-cart-item-details__list {
  padding: 0rem !important;
  margin-top: 2rem !important;
}

.tn-cart-item-detail__list {
  font-family: var(--font-sans);
  padding: 1rem !important;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.tn-cart__btn-remove {
  border-radius: 0.4rem;
}

/* Totals */

.tn-cart-totals {
}

.tn-cart-totals__line-item {
  font-family: var(--font-sans);
}

.tn-cart-totals__line-item--primary {
  font-weight: 700 !important;
}

/* Cart billing information */

.tn-patron-billing-information h2,
.tn-patron-shipping-information h2 {
  color: #777777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: var(--font-sans);
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: .15em;
  font-weight: 400 !important;
}

.breakpoint-w-768 .tn-patron-shipping-information h2 {
  margin-top: 3rem;
}

.tn-edit-billing-link,
.tn-edit-delivery-link {
  font-size: 1.5rem;
  font-family: var(--font-sans);
  text-decoration: underline;
  margin-top: 1rem;
  display: inline-block;
}

.tn-hosted-payment-iframe {
  outline: 1px solid;
}

.tn-hosted-payment-iframe h3 {
  outline: 1px solid blue !important;
}
