/* Event page */

/* Series header */

.tn-prod-season-header {
  border-bottom: 1px solid var(--primary-color-light) !important;
  margin-bottom: 4rem !important;
  padding-bottom: 3.5rem !important;
}

.tn-prod-season-header__first-date,
.tn-prod-season-header__last-date,
.tn-prod-season-header__date-separator {
  color: #666;
  font-family: var(--font-sans);
  font-size: 1.5rem !important;
}

.tn-prod-season-header__title-and-image-container {
  margin-top: 0 !important;
}

.tn-prod-season-header__title {
  font-family: var(--font-sans);
  font-size: 2.2rem !important;
  font-weight: 700;
  margin-top: 0.5rem;
}

.breakpoint-w-768 .tn-event-detail__main-container {
  margin-bottom: 4.5rem !important;
}

.tn-event-detail__display-time {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 1.7rem !important;
  font-weight: 700;
}

.tn-event-detail__title {
  color: var(--primary-color);
  font-family: var(--font-sans);
  font-size: 4.2rem !important;
  font-weight: 700;
  line-height: 5.7rem;
  margin: 1rem 0 1.5rem 0 !important;
}

/* Continue shopping link */

.tn-additional-events__continue-shopping-link {
  color: #222;
  font-family: var(--font-sans);
  font-size: 1.5rem !important;
  text-decoration: underline;
}

.tn-additional-events__continue-shopping-link:hover {
  color: var(--primary-color);
}

/* Ticket selector */

.tn-ticket-selector__pricetype-selector,
.tn-ticket-selector__zone-selector {
  margin-bottom: 0 !important;
}

.tn-ticket-selector__pricetype-selector {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #EEEEEE;
  padding: 1rem 3.5rem;
}

.tn-ticket-selector__pricetype-list-item {
  padding: 2rem 0 !important;
}

.tn-ticket-selector__pricetype-name {
  font-family: var(--font-sans);
  font-size: 2rem !important;
  line-height: 1.3;
  padding-right: 2rem;
}

/* Additional controls */

.tn-ticket-selector__additional-controls {
}

.tn-ticket-selector__additional-controls p {
  margin-bottom: 2rem;
}

/* Purchase button */

#tn-add-to-cart-button[disabled]:hover {
  background-color: var(--primary-color);
  transform: scale(1,1) !important;
}

/* Events container */

.tn-additional-events {
  margin-top: 3px;
  margin-bottom: 3rem !important;
}

.tn-additional-events__instructions {
  font-family: var(--font-sans);
  font-size: 1.5rem;
  line-height: auto !important;
}

.tn-event-detail__additional-events-container {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .tn-event-detail__additional-events-container {
    margin-right: 3.5rem !important;
  }
}

.tn-additional-events__instructions {
  border-bottom: none !important;
  background-color: transparent !important;
  margin: 0 0 2rem 0 !important;
  padding: 0 !important;
}

.tn-additional-events__btn-submit {
  margin-left: 1.5rem !important;
  border-radius: 0.3rem !important;
}
