/* Tnew forms */

/* Field group */

.form-group {
  margin-bottom: 3rem;
}

.form-group:last-child {
  margin-bottom: 0;
}

/* Input label */

.control-label,
.tn-guest-login-form__section--guest-contact label {
  color: #918F8F;
  font-family: var(--font-sans);
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Input label hint */

.tn-required-field {
  color: #918F8F;
  font-family: var(--font-sans);
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Form Input */

.form-control {
  height: 4.3rem;
  font-size: 1.7rem !important;
  font-family: var(--font-sans);
  border: 1px solid #918F8F;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none;
  border: 1px solid #918F8F;
}

.has-error .form-control:focus {
  box-shadow: none;
}

/* Radio */

.checkbox, .radio {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.checkbox label, .radio label {
  padding-left: 3rem;
}

.checkbox-inline input[type=checkbox],
.checkbox input[type=checkbox],
.radio-inline input[type=radio],
.radio input[type=radio] {
  margin-left: -3rem;
}

/* Validiation label */

.help-block {
  font-family: var(--font-sans);
}

/* Hide label validation icon */

.has-error .control-label::before {
  display: none;
}

/* Error labels */

.alert {
  font-size: 1.4rem !important;
  font-family: var(--font-sans);
}

.breakpoint-w-768 .alert {
  padding: 1rem;
}
