/* TNEW */

.tnew-bg {
  background-color: #F6FBFB;
}

/* Header */

.tn-header-component {
  border-bottom: 1px solid var(--primary-color-light);
  margin-bottom: 4rem;
}

.tn-heading {
  color: var(--primary-color);
  font-family: var(--font-sans);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.7rem;
  margin-bottom: 1rem !important;
}

.breakpoint-w-768 .tn-heading {
  font-size: 3rem;
  line-height: 3.8rem;
}

.tn-heading-sub-text {
  color: var(--primary-color);
  font-family: var(--font-sans);
  font-size: 1.7rem;
  margin-bottom: 3rem;
  margin-top: 0rem !important;
}

/* Fixing footer nav sec link hover colours */

.footer-nav-secondary li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* Fixing search input color */

.masthead-nav-secondary__search-input,
.footer__search-input {
  color: #000;
}

/* Error labels */

.alert {
  font-size: 1.4rem !important;
  font-family: var(--font-sans);
}

.alert a,
.tn-unknown-error-component a,
.tn-not-found-component a {
  color: #222;
  text-decoration: underline;
}

.breakpoint-w-768 .alert {
  padding: 1rem;
}

#tn-gift-certificate-submit {
  margin-top: 2rem;
}
