/* Login page */

/* Login form */

form.tn-login-component {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #EEEEEE;
  padding: 3rem 3.5rem 3.5rem 3.5rem;
}

.breakpoint-w-768 form.tn-login-component {
  margin-bottom: 3rem;
}

/* Login form heading */

.tn-login-component h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Retrieve password link */

.tn-account-login-page .tn-account-login-forgot-login-link {
  color: #918F8F;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 3rem;
}

/* Not registered / Guests heading */

.tn-create-heading,
.tn-account-login__guest-login-section-heading {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}

.breakpoint-w-768 .tn-create-heading {
  margin-top: 0;
}

/* Not registered yet subheading */

.tn-create-sub-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tn-account-login-page .tn-register-button {
  margin-bottom: 0;
}
