/* Modals */

.modal-title {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
}

.tn-send-instructions p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: var(--font-sans);
}

/* Modal button confirm */

.modal-btn-confirm {
  background-color: #FFFFFF !important;
  border-radius: .3rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
  display: inline-block;
  width: auto;
  font-family: var(--font-sans);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: .8rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  transform: scale(1,1);
  transition-duration: 250ms;
  transition-property: transform,background-color,color;
}

.modal-btn-confirm:hover {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: #FFFFFF !important;
  text-decoration: none;
  transform: scale(1.1,1.1);
}

/* Modal button cancel */

.modal-btn-cancel {
  border-radius: .3rem;
  border: 1px solid #918F8F;
  color: #918F8F;
  display: inline-block;
  font-family: var(--font-sans);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: .8rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  transition-duration: 250ms;
  transition-property: background-color,color;
}

.modal-btn-cancel:hover {
  background-color: var( --primary-color);
  border: 1px solid var( --primary-color);
  color: #FFFFFF;
  text-decoration: none;
}
