/* Modals */

.modal-title {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
}

.tn-send-instructions p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: var(--font-sans);
}
