/* Register page */

.tn-login-component,
.tn-patron-component,
.tn-address-component {
  margin-bottom: 3rem;
}

.breakpoint-w-768 .tn-login-component,
.breakpoint-w-768 .tn-patron-component,
.breakpoint-w-768 .tn-address-component {
  margin-bottom: 3rem;
}

.tn-patron-component h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tn-address-component h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Checkout as guest */

.tn-guest-login-form__section-header {
  margin-bottom: 3rem !important;
}

.tn-guest-login-form__section-header h2 {
  color: #777777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: var(--font-sans);
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  letter-spacing: .15em;
}

.tn-guest-login-form__section-header p {
  font-size: 1.8rem;
}

.tn-guest-login-form__section--delivery-method label {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: var(--font-sans);
}

/* Interests */

.tn-interests h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tn-interests .control-label {
  color: #777777;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: var(--font-sans);
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: .15em;
  font-weight: 400 !important;
}

.tn-interests .checkbox label {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: var(--font-sans);
}
