/* Register page */

.tn-login-component,
.tn-patron-component,
.tn-address-component {
  margin-bottom: 3rem;
}

.breakpoint-w-768 .tn-login-component,
.breakpoint-w-768 .tn-patron-component,
.breakpoint-w-768 .tn-address-component {
  margin-bottom: 3rem;
}

.tn-patron-component h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tn-address-component h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Checkout as guest */

.tn-guest-login-form__section-header h2 {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tn-guest-login-form__section-header p {
  font-size: 2rem;
}

.tn-guest-login-form__section--delivery-method label {
  font-size: 2rem;
}
