/* Subnav */

.tn-subnav-component {
  font-family: var(--font-sans);
  margin-bottom: 3rem;
  padding: 0;
}

.breakpoint-w-768 .tn-subnav-component {
  margin-left: 0;
}

/* Login link */

.tn-login-link .tn-link,
.tn-logout-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .subnav-icon,
  .subnav-text,
  .tn-subnav-component .tn-cart-link .tn-timer,
  .tn-subnav-component .tn-icon,
  .tn-subnav-component .tn-login-link.tn-logged-in .tn-logged-in-email,
  .tn-subnav-component .tn-login-link.tn-logged-in .tn-logged-in-text,
  .tn-subnav-component .tn-text {
    line-height: 1.3em;
    font-size: 12px;
  }
}

.tn-account-info-link:hover,
.tn-login-link .tn-link:hover,
.tn-login-link:hover .tn-icon,
.tn-logout-link:hover {
  color: #4a4a4a !important;
}

.tn-login-link .tn-icon {
  font-size: 1.4rem !important;
  color: var(--primary-color);
}

.tn-logged-in-text,
.tn-logged-in-email {
  font-size: 1.5rem !important;
}

.tn-logged-in-email {
  text-decoration: underline !important;
}

.tn-logout-link::before {
  color: #C9C9C9 !important;
  font-weight: 400 !important;
  font-size: 1.5rem;
}

/* View cart link */

.tn-cart-link .tn-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.tn-subnav-component .tn-cart-link .tn-link:hover {
  color: #4a4a4a;
}

/* Promo box */

.tn-subnav-component .tn-promo-box {
  margin-left: 3rem;
  margin-right: 0;
}

.breakpoint-w-768 .tn-subnav-component .tn-promo-box {
  margin-right: 0;
}

@media (max-width: 992px) {
  .tn-subnav-component .tn-promo-box {
    margin-right: 0;
  }
}

/* Promo code input */

.tn-subnav-component .tn-promo-box input {
  border: 1px solid #e0eeec;
  background-color: #e0eeec;
  display: inline-block;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  line-height: 1;
  margin-right: 0;
  padding: 0.8rem 1.2rem;
  width: 18rem;
}

.breakpoint-w-768 .tn-subnav-component .tn-promo-box input {
  width: 14rem;
}

/* Promo button (default style) */

.tn-subnav-component .tn-promo-box button.tn-subnav-promo-button {
  border-radius: .3rem .3rem 0 0;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color) !important;
  color: #FFF !important;
  display: inline-block;
  font-family: var(--font-sans);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  padding: .8rem 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.tn-subnav-component .tn-promo-box button.tn-subnav-promo-button:hover {
  background-color: #444 !important;
  color: #FFF !important;
}

/* Timer */

.tn-subnav-component .tn-cart-link .tn-timer {
  color: #918F8F;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 3rem;
}
