.adopt-a-word__donation-info.column-wrapper
  .column-narrow
    h2.adopt-a-word__donation-info-title How the money is used
    .adopt-a-word__donation-text.copy= render_content page.fields[:donation_info]
