/ metaQuery breakpoints should come _before_ metaQuery is called in the
/ inline_boot_javascript partial
meta name="viewport" content="width=device-width"
meta name="breakpoint" content="phone" media="(max-width: 479px)"
meta name="breakpoint" content="phone-wide" media="(min-width: 480px) and (max-width: 639px)"
meta name="breakpoint" content="tablet" media="(min-width: 640px) and (max-width: 989px)"
meta name="breakpoint" content="tablet-wide" media="(min-width: 990px) and (max-width: 1079px)"
meta name="breakpoint" content="widescreen" media="(min-width: 1080px) and (max-width: 1419px)"
meta name="breakpoint" content="widescreen-wide" media="(min-width: 1420px)"
meta name="breakpoint" content="retina" media="only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"
