/* Variables */

:root {
  --color-blue: #00ADF2;
  --color-light-blue: #E9F9FF;
  --color-dark-blue: #254957;

  --column-wide: 120rem;

  --font-mono: "monaco", monospace;
  --font-sans: "Colfax", Helvetica, sans-serif;
  --font-serif: "FreightTextPro", "Hoefler Text", Palatino, serif;
}

/* Imports */

html {
  background-color: var(--color-light-blue);
}

@import "./masthead";
@import "./masthead/nav.css";
