/* Contextual */

.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2.5rem 3.5rem 3.5rem;
  position: relative;
}
  .breakpoint-phone-wide .footer,
  .breakpoint-phone .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

.footer-nav-main {
  float: left;
  max-width: 120rem;
  width: 60%;
}

.breakpoint-phone .footer-nav-main {
  width: 100%;
  float: none;
}
  .footer-nav-main__group {
    float: left;
    font-family: var(--font-sans);
    padding-bottom: 2.0rem;
    width: 25%;
  }

  .footer-nav-main__group--double {
    width: 50%;
  }
  .footer-nav-main__group--projects {
    clear: left;
  }
  .breakpoint-tablet-wide .footer-nav-main__group,
  .breakpoint-tablet .footer-nav-main__group {
    width: 50%;
  }
    .breakpoint-tablet-wide .footer-nav-main__group:nth-child(2n+1),
    .breakpoint-tablet .footer-nav-main__group:nth-child(2n+1) {
      clear: left;
    }
  .breakpoint-w-699 .footer-nav-main__group {
    width: 50%;
  }
  .breakpoint-w-699 .footer-nav-main__group:nth-child(2n+1) {
    clear: both;
  }
    .footer-nav-main__group h3 {
      font-weight: bold;
      font-size: 1.7rem;
      margin-bottom: .6em;
    }
      .breakpoint-phone-wide .footer-nav-main__group h3,
      .breakpoint-phone .footer-nav-main__group h3 {
        font-size: 1.4rem;
      }
    .footer-nav-main__group ul {
      color: var(--primary-color-lighter);
      font-size: 1.4rem;
      padding-right: 2.0rem;
    }
      .footer-nav-main__group--double ul {
        float: left;
        width: 50%;
      }
      .breakpoint-tablet .footer-nav-main__group--double ul,
      .breakpoint-phone-wide .footer-nav-main__group--double ul,
      .breakpoint-phone .footer-nav-main__group--double ul {
        width: 100%;
      }
    .footer-nav-main__group li {
      margin-bottom: .4rem;
    }
    .footer-nav-main__group li a {
      display: block;
      padding-top: .1rem;
      padding-bottom: .1rem;
    }
    .footer-nav-main__group a:hover,
    .footer-nav-main__group a:focus {
      color: #fff;
      text-decoration: underline;
    }

.footer-nav-secondary {
  float: right;
  width: 40%;
}
.breakpoint-tablet-wide .footer-nav-secondary,
.breakpoint-tablet .footer-nav-secondary,
.breakpoint-phone-wide .footer-nav-secondary {
  padding-left: 6rem;
}
.breakpoint-w-730 .footer-nav-secondary {
  padding-left: 1rem;
}
.breakpoint-phone .footer-nav-secondary {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 3rem;
  padding-left: 0;
  margin-top: 1rem;
  float: none;
  width: 100%;
}
  .footer-nav-secondary ul {
    float: right;
    padding-bottom: 7.5rem;
  }
  .breakpoint-tablet-wide .footer-nav-secondary ul,
  .breakpoint-tablet .footer-nav-secondary ul ,
  .breakpoint-phone-wide .footer-nav-secondary ul,
  .breakpoint-phone .footer-nav-secondary ul {
    float: none;
  }
  .footer-nav-secondary li {
    color: var(--primary-color-lighter);
    display: inline-block;
    font-family: var(--font-sans);
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-left: 3rem;
  }
  .breakpoint-tablet-wide .footer-nav-secondary li,
  .breakpoint-tablet .footer-nav-secondary li,
  .breakpoint-phone-wide .footer-nav-secondary li,
  .breakpoint-phone .footer-nav-secondary li {
    display: block;
    padding-left: 0;
    padding-bottom: 1.2rem;
  }

  li.footer-nav-secondary__search {
    display: block;
    padding-bottom: 2.5rem;
  }
  .breakpoint-tablet-wide .footer-nav-secondary li.footer-nav-secondary__search,
  .breakpoint-tablet .footer-nav-secondary li.footer-nav-secondary__search,
  .breakpoint-phone-wide .footer-nav-secondary li.footer-nav-secondary__search,
  .breakpoint-phone .footer-nav-secondary li.footer-nav-secondary__search {
    padding-bottom: 2.5rem;
  }

  .footer__search-input {
    background-color: #e0eeec;
    border: none;
    border-radius: 0;
    display: block;
    float: left;
    font-size: 1.4rem;
    height: 3.2rem;
    padding: .6rem .8rem;
    width: calc(100% - 3.2rem);
    transition-property: background-color;
    transition-duration: 150ms;
  }

  .footer__search-input:focus {
    background-color: #fff;
  }

  .footer__search-button {
    background-color: var(--primary-color-darker);
    border: none;
    color: #fff;
    cursor: pointer;
    float: left;
    width: 3.2rem;
    height: 3.2rem;
  }

  .footer__search-button:hover,
  .footer__search-button:focus {
    background-color: #006b5f;
  }

.footer__logo {
  position: absolute;
  right: 3.5rem;
  bottom: 3.5rem;
}
.breakpoint-phone .footer__logo {
  padding-top: 3.0rem;
}

  .footer__logo-anchor {
    background-image: url("w-mark.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    color: transparent;
    font: 0/0 a;
    height: 5.3rem;
    opacity: 1;
    transform: scale3d(1,1,1);
    transition-property: transform, opacity;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.335, 0.015, 0.250, 1.105);
    width: 6.0rem;
  }
    .footer__logo-anchor--hover {
      transform: scale3d(0.85, 0.85, 1);
      opacity: 0.9;
    }
