

/* Main section at top ------------------------ */

.adopt-a-word__main {
  background-color: #667AA9;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.adopt-a-word__content {
  margin: 0 auto;
  color: #fff;
}

.adopt-a-word__title {
  font-family: var(--font-sans);
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 3.5rem;
}

.adopt-a-word__content-left {
  float: left;
  width: 60%;
  padding-right: 1.7rem;
}

.adopt-a-word__intro {
  font-size: 2.8rem;
}


.adopt-a-word__browse-button {
  font-family: var(--font-sans);
  font-weight: bold;
  background-color: var(--text-color);
  border-radius: 4px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 2rem;
}

.adopt-a-word__campaign-image {
  padding-left: 1.7rem;
  float: right;
  width: 30%;

}

.adopt-a-word__campaign-image img {
  width: 100%;
}



/* Description section  -------------- */

.adopt-a-word__description-wrapper {
  padding-top: 6rem;
  padding-bottom: 4rem;
  margin-bottom: 6rem;
}

.adopt-a-word__description-content  {
  margin: 0 auto;
}

.adopt-a-word__description-left {
  float: left;
  width: calc(42% - 3.2rem);
  margin-right: 1.6rem;
  line-height: 3rem;
}
.adopt-a-word__description-left {
  margin-bottom: 2.4rem;
}

.adopt-a-word__find-your-word a {
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  padding: 9px 18px;
  text-decoration: none;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  color: var(--primary-color);
}

.adopt-a-word__find-your-word a:hover {
  color: #eee;
}

.adopt-a-word__description-right {
  float: left;
  width: calc(33% - 1.6rem);
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 2px solid #eee;
  border-radius: 4px;
}

.breakpoint-phone .adopt-a-word__description-right,
.breakpoint-tablet .adopt-a-word__description-right {
  margin-left: auto;
  margin-right: auto;
}

.adopt-a-word__list-amount {
  color: var(--primary-color);
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.adopt-a-word__list-title {
  font-style: italic;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.adopt-a-word__description-right ul {
  font-family: var(--font-sans);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

.adopt-a-word__description-right li {
  padding-left: 0.5rem;
  margin-bottom: 1.2rem;
}

.adopt-a-word__description-right li:last-child {
  margin-bottom: 0;
}

.adopt-a-word__list-description {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}


.adopt-a-word__stories {
  float: left;
  width: calc(25% - 1.6rem);
  margin-left: 1.6rem;
}

.breakpoint-phone .adopt-a-word__stories,
.breakpoint-tablet .adopt-a-word__stories {
  margin-left: auto;
  width: 100%;
}

.adopt-a-word__stories-header {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-sans);
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1.1rem;
  margin-top: 3rem;
}

.adopt-a-word__story-hero img {
  width: 100%;
}


h2.adopt-a-word__story-title {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.adopt-a-word__story-summary {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-bottom: 2rem;
}

.adopt-a-word__story-summary:first-of-type {
  border-bottom: 1px solid #eee;
}


/* Recently adpoted words section ----------------------- */

.adopt-a-word__recent-wrapper {
  background-color: var(--primary-color);
  margin-bottom: 5rem;
}

.adopt-a-word__recent-content {
  font-family: var(--font-sans);
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}

.adopt-a-word__recent-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.adopt-a-word__recent-word-list li {
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.6rem;
}

.breakpoint-phone .adopt-a-word__recent-word-list li,
.breakpoint-tablet .adopt-a-word__recent-word-list li {
  float: left;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.adopt-a-word__recent-word-list li:last-child {
  margin-right: 0;
}

/* Adopt a word section ----------------------- */

.adopt-a-word__words-header {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.adopt-a-word__words-title {
  font-family: var(--font-sans);
  color: var(--primary-color);
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.1;
}

.adopt-a-word__words-text {
  margin: 0 auto 5rem;
  font-size: 2.1rem;
  font-style: italic;
  text-align: center;
}

/* adopt a word ul */
.adopt-a-word__words {
  margin: 0 auto 7rem;
}

/* list item */
.adopt-a-word-page__word-item {
  float: left;
  width: 20%;
  margin-bottom: 3rem;
  padding-right: 2rem;
  position: relative;
}

.adopt-a-word__word {
  font-family: var(--font-sans);
  font-size: 1.7rem;
}

.adopt-a-word__word:hover {
  cursor: pointer;
}

.adopt-a-word__word-definition {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 2rem;
}

.adopt-a-word__definition-wrapper {
  display: none;
}

.adopt-a-word__definition-wrapper--active {
  display: block;
  position: absolute;
  outline: 1px solid var(--primary-color);
  background-color: #fff;
  padding: 2rem;
  z-index: 99999;
  top: -2.1rem;
  left: -2rem;
  box-shadow: .5rem .5rem 0 rgba(0,0,0,0.05);
}

.adopt-a-word__word-button {
  font-family: var(--font-sans);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 1.5rem;
}

.adopt-a-word__word-button--adopted {
  display: none;
  font-family: var(--font-sans);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 1.5rem;
  color: #999;
  border: 1px solid #CCC;
}

.adopt-a-word__definition-word {
  font-family: var(--font-sans);
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.adopt-a-word__word-close {
  color: #333;
  font-family: var(--font-sans);
  font-size: 1.2rem;
}

.adopt-a-word__word-close:hover {
  color: #000;
  text-decoration: underline;
}

.adopt-a-word-page__word-available .adopt-a-word__word:hover {
  color: var(--primary-color);
}

.adopt-a-word-page__word-available .adopt-a-word__word-button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.adopt-a-word-page__word-unavailable .adopt-a-word__word-button {
/*  color: #999;
  border: 1px solid #CCC;*/
  display: none;
}

.adopt-a-word-page__word-unavailable .adopt-a-word__word-button--adopted {
  display: inline-block;
}

.adopt-a-word__archive-button-wrapper {
  text-align: center;
  margin-bottom: 7rem;
}

a.adopt-a-word__archive-button {
  border: 1px solid #323232;
  border-radius: 2px;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.9rem 1.4rem;
  display: inline-block;
}

a.adopt-a-word__archive-button:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Donation section at bottom ----------------- */

.adopt-a-word__donation-info {
  margin: 0 auto 7rem;
}

.adopt-a-word__donation-info-title {
  text-align: center;
  color: #777;
  font-family: "Colfax", Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  margin-bottom: 1.5rem;
}

.adopt-a-word__donation-text {
  font-size: 1.7rem;
}


/* Breakpoint styles -------------------------- */

.breakpoint-w-799 .adopt-a-word__content-left {
  float: none;
  width: auto;
}

.breakpoint-w-799 .adopt-a-word__campaign-image {
  float: none;
  width: 100%;
  padding-left: 0;
  margin-bottom: 4rem;
}

.breakpoint-w-799 .adopt-a-word__main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.breakpoint-w-799 .adopt-a-word__description-wrapper {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.breakpoint-w-799 .adopt-a-word__description-left, .breakpoint-w-799 .adopt-a-word__description-right {
  float: none;
  width: auto;
}

.breakpoint-w-999 .adopt-a-word-page__word-item {
  width: 25%;
}

.breakpoint-w-799 .adopt-a-word-page__word-item {
  width: 33.333%;
}

.breakpoint-w-599 .adopt-a-word-page__word-item {
  width: 50%;
}

/* Archive page styles ---------------------- */


.adopt-a-word-archive__header,
.adopt-a-word-thanks__main {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2.5rem;
}

h1.adopt-a-word-archive__title,
h1.adopt-a-word-thanks__title {
  font-family: var(--font-sans);
  color: var(--primary-color);
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.1;
}

.adopt-a-word-archive__intro,
.adopt-a-word-thanks__intro
 {
  margin: 0 auto 5rem;
  font-size: 2.1rem;
  text-align: center;
}

/* Thank you page styles ---------------------- */

.adopt-a-word-archive__content {
  margin: 0 auto 5rem;
}

h2.adopt-a-word-thanks__share-title {
  font-family: var(--font-sans);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.adopt-a-word-thanks__share-icons li {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.adopt-a-word-thanks__share-icons li:last-child {
  margin-right: 0;
}

li.adopt-a-word-thanks__twitter {
  color: #59ADEC;
}
li.adopt-a-word-thanks__facebook {
  color: #3C5A96;
}
li.adopt-a-word-thanks__email {
  color: var(--primary-color);
}
li.adopt-a-word-thanks__whatsapp {
  color: #56B53E;
  display: none;
}

.breakpoint-phone li.adopt-a-word-thanks__whatsapp {
  display: inline-block;
}

.adopt-a-word-thanks__certificate {
  border: 1px solid #ccc;
  padding: 3rem;
  text-align: center;
  width: 44rem;
  display: inline-block;
}

.adopt-a-word-thanks__certificate-copy {
  font-family: var(--font-sans);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.adopt-a-word-thanks__certificate-copy a {
  color: var(--primary-color);
}

.adopt-a-word-thanks__certificate-copy a:hover {
  color: #333;
}

.adopt-a-word-thanks__certificate-image img {
  width: 38rem;
}


