- set_meta_tags({ \
    description: "", \
    og: { \
      type: "website", \
      site_name: "Broadside", \
      title: "Broadside", \
      description: "", \
      image: { \
        url: image_url("public-broadside/masthead/broadside-logo-social.png"), \
        secure_url: image_url("public-broadside/masthead/broadside-logo-social.png"), \
        width: "583", \
        height: "360", \
      } \
    } \
  })

= area :main do
  .content-page__main.column-wrapper
    .content-page__content.clearfix

