- set_meta_tags({ \
    description: "Presented by the Wheeler Centre, with support from the Aesop Foundation, The Next Chapter is here to elevate the Australian stories that aren’t being published – and to nurture a new generation of writers, from all sorts of backgrounds, to tell them.", \
    og: { \
      type: "website", \
      site_name: "The Next Chapter", \
      title: "#{page.title} – The Next Chapter", \
      description: "Presented by the Wheeler Centre, with support from the Aesop Foundation, The Next Chapter is here to elevate the Australian stories that aren’t being published – and to nurture a new generation of writers, from all sorts of backgrounds, to tell them.", \
      image: { \
        url: image_path("public-next-chapter/masthead/next-chapter-logo-social.png"), \
        secure_url: image_path("public-next-chapter/masthead/next-chapter-logo-social.png"), \
        width: "583", \
        height: "360", \
      } \
    } \
  })

// Needs work
