/* Podcasts: index */

.podcasts-index {
  padding-bottom: 5rem;
}
  .breakpoint-tablet .podcasts-index {
    padding-top: 3.5rem;
  }
  .breakpoint-phone-wide .podcasts-index,
  .breakpoint-phone .podcasts-index {
    padding-top: 2.5rem;
  }

.podcasts-index__header {
  font-family: var(--font-sans);
  text-align: center;
  margin-bottom: 3.5rem;
}
.breakpoint-phone .podcasts-index__header,
.breakpoint-phone .podcasts-index__header {
  margin-bottom: 2rem;
}
  .podcasts-index__title {
    color: var(--primary-color);
    font-size: 4.8rem;
    font-weight: bold;
  }
  .breakpoint-tablet .podcasts-index__title {
    font-size: 3.8rem;
  }
  .breakpoint-phone-wide .podcasts-index__title {
    font-size: 3rem;
  }
  .breakpoint-phone .podcasts-index__title {
    font-size: 2.8rem;
  }


/* Podcasts index: featured */

.podcasts-index__featured {
  margin-bottom: 6rem;
}
.breakpoint-phone-wide .podcasts-index__featured,
.breakpoint-phone .podcasts-index__featured {
  margin-bottom: 3rem;
}

  .podcasts-index__feature-block {
    background-color: var(--primary-color);
    border-right: 1px solid #fff;
    color: #fff;
    float: left;
    height: 36rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 50%;
  }
  .podcasts-index__feature-block:nth-child(2n) {
    border-right: 0;
  }
  .podcasts-index__feature-block:before {
    background-image: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,0));
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
  }
  .breakpoint-tablet .podcasts-index__feature-block {
    height: 40rem;
  }
  .breakpoint-phone-wide .podcasts-index__feature-block,
  .breakpoint-phone .podcasts-index__feature-block {
    border-right: 0;
    float: none;
    min-height: 0;
    width: 100%;
  }

    .podcasts-index__feature-anchor {
      display: block;
      padding: 6rem 3.5rem;
    }
    .breakpoint-phone-wide .podcasts-index__feature-anchor,
    .breakpoint-phone .podcasts-index__feature-anchor {
      padding: 3.5rem;
    }

      .podcasts-index__feature-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.1;
        transition-property: transform, opacity;
        transition-duration: 900ms;
        z-index: 1;
      }
      .podcasts-index__feature-anchor:hover .podcasts-index__feature-image,
      .podcasts-index__feature-anchor:focus .podcasts-index__feature-image {
        opacity: 0.2;
        transform: scale3d(1.05, 1.05, 1);
      }

      .podcasts-index__feature-text {
        position: relative;
        z-index: 2;
      }

      .podcasts-index__feature-title {
        font-family: var(--font-sans);
        font-size: 2.8rem;
        font-size: 2.8rem;
        font-weight: bold;
        padding-bottom: 1rem;
      }

      .podcasts-index__feature-episode-count {
        color: rgba(255,255,255,.85);
        display: block;
        font-family: var(--font-sans);
        font-size: 1.3rem;
        font-size: 1.3rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        padding-bottom: 3rem;
      }
        .podcasts-index__feature-episode-count span {
          display: inline-block;
          border-right: 1px solid rgba(255,255,255,.6);
          margin-right: 1.4rem;
          padding-right: 1.4rem;
        }
        .podcasts-index__feature-episode-count span i {
          font-size: 1.2rem;
        }

      .podcasts-index__feature-description {
        font-family: var(--font-sans);
        font-size: 2rem;
        font-size: 2rem;
        padding-bottom: 4rem;
      }

      .podcasts-index__feature-action {
        display: block;
        font-family: var(--font-sans);
        font-size: 1.8rem;
        font-size: 1.8rem;
        font-weight: bold;
      }
      .podcasts-index__feature-anchor:hover .podcasts-index__feature-action,
      .podcasts-index__feature-anchor:focus .podcasts-index__feature-action {
        text-decoration: underline;
      }


/* Podcasts index: other podcasts */

.podcasts-list__block {
  font-family: var(--font-sans);
}
  .podcasts-list__anchor {
    border-bottom: 1px solid #dfdfdf;
    display: block;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
    .podcasts-list__block:last-child .event-series-list__anchor {
      border-bottom: none;
    }
  h3.podcasts-list__title {
    font-size: 2rem;
    font-size: 2rem;
    font-weight: bold;
    float: left;
    max-width: 80%;
  }
    .podcasts-list__anchor:hover .podcasts-list__title,
    .podcasts-list__anchor:focus .podcasts-list__title {
      color: var(--primary-color);
      text-decoration: underline;
    }
  .breakpoint-phone-wide h3.podcasts-list__title {
    font-size: 1.6rem;
    font-size: 1.6rem;
  }
  .breakpoint-phone h3.podcasts-list__title {
    font-size: 1.4rem;
    font-size: 1.4rem;
  }
  .podcasts-list__action {
    border-radius: .3rem;
    font-size: 1.4rem;
    font-size: 1.4rem;
    float: right;
    padding: .5rem .8rem;
  }
  .breakpoint-phone .podcasts-list__action {
    font-size: 1.2rem;
    font-size: 1.2rem;
  }
    .podcasts-list__action i {
      margin-left: .8rem;
      margin-right: .5rem;
    }

/* Podcasts: series */

.podcast-series {
  padding-bottom: 5rem;
}
  .breakpoint-tablet .podcast-series {
    padding-top: 3.5rem;
  }
  .breakpoint-phone-wide .podcast-series,
  .breakpoint-phone .podcast-series {
    padding-top: 2.5rem;
  }

.podcast-series__top {
  margin-bottom: 5rem;
}
.podcast-series__header {
  font-family: var(--font-sans);
  text-align: center;
  margin-bottom: 3.5rem;
}
.breakpoint-phone .podcast-series__header,
.breakpoint-phone .podcast-series__header {
  margin-bottom: 2rem;
}


.podcast-series__hero-image  {
  width: 52%;
  float: left;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 4rem;
}
.breakpoint-phone .podcast-series__hero-image,
.breakpoint-phone-wide .podcast-series__hero-image {
  float: none;
  width: auto;
}
  .podcast-series__hero-image img {
    max-width: 100%;
    min-width: 70%;
  }

  .podcast-series__header-right {
    float: left;
    margin-top: 4rem;
    width: calc(48% - 4rem);
    text-align: left;
    margin-bottom: 4rem;
  }

  .breakpoint-phone .podcast-series__header-right,
  .breakpoint-phone-wide .podcast-series__header-right {
    float: none;
    width: auto;
  }
    .podcast-series__title {
      color: #333;
      font-size: 4.8rem;
      font-size: 4.8rem;
      font-weight: bold;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .breakpoint-tablet .podcast-series__title {
      font-size: 3.8rem;
      font-size: 3.8rem;
    }
    .breakpoint-phone-wide .podcast-series__title {
      font-size: 3rem;
      font-size: 3rem;
    }
    .breakpoint-phone .podcast-series__title {
      font-size: 2.8rem;
      font-size: 2.8rem;
    }
    .podcast-series__intro-text {
      color: #333;
      font-family: var(--font-serif);
      font-size: 2.0rem;
      margin-bottom: 3rem;

    }
    .podcast-series__more {
      font-family: var(--font-sans);
      font-size: 1.4rem;
    }
      .podcast-series__more a {
        padding-left: 1rem;
        text-decoration: underline;
      }
      .podcast-series__more a:hover {
        color: #666;
      }

.podcast-series__subscribe {
  text-align: center;
  margin-bottom: 5rem;
}
  .podcast-series__subscribe-header {
    font-family: var(--font-sans);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .podcast-series__subscribe-text {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  .podcast-series__open-in-app-and-copy {
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
  }
  .podcast-series__open-in-app-and-copy:after {
    content: "";
    background-color: #dfdfdf;
    left: calc(50% - 0.5px);
    bottom: -1rem;
    height: 2rem;
    width: 1px;
    position: absolute;
  }
    .podcast-series__open-in-app-and-copy__button {
      border: 1px solid var(--primary-color);
      border-radius: .3rem;
      display: inline-block;
      color: var(--primary-color);
      cursor: pointer;
      font-family: var(--font-sans);
      font-weight: bold;
      line-height: 1;
      margin-top: .8rem;
      margin-bottom: 2.5rem;
      padding: 1rem 1.2rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-color 150ms ease-in-out,
                  color 150ms ease-in-out;
      width: 24rem;
    }
    .podcast-series__open-in-app-and-copy__button--open {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .podcast-series__open-in-app-and-copy__button--copy {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }
    .breakpoint-phone .podcast-series__open-in-app-and-copy__button {
      border-radius: .3rem;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
      margin-left: 0;
      width: 100%;
    }
    .breakpoint-phone .podcast-series__open-in-app-and-copy__button--open {
      margin-bottom: 0;
    }
    .podcast-series__open-in-app-and-copy__button:hover,
    .podcast-series__open-in-app-and-copy__button:focus {
      background-color: var(--primary-color);
      color: #fff;
    }
      .podcast-series__open-in-app-and-copy__button i {
        padding-right: 0.6rem;
      }

  .podcast-series__subscribe_methods {
    margin-bottom: 2rem;
  }

  .breakpoint-widescreen .podcast-series__subscribe_methods,
  .breakpoint-widescreen-wide .podcast-series__subscribe_methods {
    display: flex;
    justify-content: center;
  }

  .podcast-series__badge {
    display: inline-block;
    margin-bottom: -2px;
    margin-right: 4px;
  }

  .breakpoint-widescreen .podcast-series__badge:last-child,
  .breakpoint-widescreen-wide .podcast-series__badge:last-child {
    margin-right: 0px;
  }

  .podcast-series__badge img {
    width: 131px;
  }

  .podcast-series__feed-url {
    display: flex;
    justfy-content: center;
    align-items: baseline;
    font-family: var(--font-sans);
  }

  .breakpoint-phone-wide .podcast-series__feed-url ,
  .breakpoint-phone .podcast-series__feed-url  {
    margin-top: 1.5rem;
  }

    span.podcast-series__feed-url-title {
      font-weight: bold;
      margin-right: 1.5rem;
    }
    input.podcast-series__feed-url-box {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 1.1rem 1.5rem;
      font-weight: normal;
      font-size: 1.4rem;
      height: 4rem;
      flex: 2;
    }

.podcast-series__explicit {
  display: inline-block;
  background: #DB2222;
  border-radius: 2px;
  padding: 0.5rem 0.8rem;
  font-family:  var(--font-sans);
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.podcast-series__latest {
  margin-bottom: 8rem;
}
.podcast-series__latest-inner {
  position: relative;
  padding-left: 11rem;
  margin-top: 4rem;
}
  .podcast-series__latest-date {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .podcast-series__latest-title {
    font-family:  var(--font-sans);
    font-size: 1.8rem;
    line-height: 2.2rem;
    vertical-align: top;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }
  .podcast-series__latest-title a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  .podcast-series__latest-explicit {
    margin-left: 1rem;
  }
  .podcast-series__latest-description {
    font-size: 1.8rem;
  }
    .podcast-series__latest-description div {
      display: none;
    }
.podcast-series__older-episodes {
  margin-bottom: 8rem;
}

.podcast-series__episodes-list {
  margin-bottom: 2.5rem;
}
  a.podcast-series__episode {
    display: block;
    position: relative;
    padding-left: 11rem;
    border-bottom: 1px solid #ddd;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    font-family:  var(--font-sans);
  }
  a.podcast-series__episode:last-child {
    border: none;
  }
  a.podcast-series__episode:hover .podcast-series__episode-title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  a.podcast-series__episode:hover .podcast-series__episode-play {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

    .podcast-series__episode-play {
      border: 2px solid #ccc;
      border-radius: 50%;
      background-color: transparent;
      color: #ccc;
      height: 4rem;
      width: 4rem;
      position: absolute;
      left: 4rem;
      top: 2.4rem;
    }
      .podcast-series__episode-play-icon {
        font-size: 1.6rem;
        height: 1.6rem;
        width: 1.6rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -0.5rem;
        margin-top: -0.7rem;
      }

    .podcast-series__episode-meta {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 0.4rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .podcast-series__episode-title {
      font-size: 1.6rem;
      font-weight: bold;
      color: #333;
    }

    .podcast-series__episode-explicit {
      float: right;
    }

.podcast-series__view-all-wrapper {
  text-align: center;
  margin-top: 2.4rem;
}
  a.podcast-series__view-all {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--font-sans);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 2.2rem;
  }

.podcast-series__about {
  margin-bottom: 8rem;
}

.podcast-series__about .section--normal {
  max-width: var(--column-mid);
  position: relative;
}


/* Podcast snap */
.podcast-snap__anchor {
  display: block;
  position: relative;
}
.podcast-snap__anchor:before {
  background-image: linear-gradient(to top, #fff, rgba(255,255,255,0));
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
}

  .podcast-snap__date {
    color: #888;
    display: block;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-size: 1.4rem;
    padding-bottom: .8rem;
  }
  .breakpoint-phone-wide .podcast-snap__date,
  .breakpoint-phone .podcast-snap__date {
    font-size: 1.3rem;
    font-size: 1.3rem;
  }

  .podcast-snap__title {
    font-family: var(--font-sans);
    font-size: 2.3rem;
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: .6rem;
    margin-bottom: 1.4rem;
    line-height: 1.2;
  }

    .copy .podcast-snap__title {
      padding-top: 0;
    }


  .podcast-snap__anchor:hover .podcast-snap__title,
  .podcast-snap__anchor:focus .podcast-snap__title  {
    color: var(--primary-color);
    text-decoration: underline;
  }

    .podcast-snap__title span {
      display: block;
      font-size: 1.7rem;
      font-size: 1.7rem;
      line-height: 1.2;
    }
    .breakpoint-phone-wide .podcast-snap__title span,
    .breakpoint-phone .podcast-snap__title span {
      font-size: 1.5rem;
      font-size: 1.5rem;
    }

  .breakpoint-phone-wide .podcast-snap__summary,
  .breakpoint-phone .podcast-snap__summary {
    font-size: 1.5rem;
    font-size: 1.5rem;
  }

  .podcast-snap__explicit {
    background-color: #f00;
    border-radius: .3rem;
    color: #fff;
    display: inline-block;
    font-family: var(--font-sans);
    font-size: 1.1rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .4rem .4rem .3rem;
    margin-bottom: 1rem;
  }

/* Podcast: episode */

.podcast-episode {
  padding-bottom: 5rem;
}
.breakpoint-tablet .podcast-episode {
  padding-bottom: 2rem;
}
.breakpoint-phone-wide .podcast-episode,
.breakpoint-phone .podcast-episode {
  padding-bottom: 2rem;
}

/* Series header */

.podcast-episode__series-header {
  background-color: var(--primary-color-lighter);
  color: #17574F;
  display: block;
  font-family: var(--font-sans);
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  margin-bottom: 3.5rem;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 200ms;
}
.breakpoint-w-799 .podcast-episode__series-header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}
.breakpoint-phone .podcast-episode__series-header {
  margin-bottom: 0;
}
  .podcast-episode__series-header:hover,
  .podcast-episode__series-header:focus {
    background-color: #c2f7f1;
    color: var(--primary-color);
  }

  .podcast-episode__series-meta {
    float: left;
    font-size: 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    margin-top: .5rem;
  }
  .podcast-episode__series-title {
    border-left: 1px solid rgba(0,0,0,0.2);
    float: left;
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 3.5rem;
    padding-left: 3.5rem;
    max-width: 55%;
  }
  .breakpoint-w-999 .podcast-episode__series-title {
    max-width: 45%;
  }
  .breakpoint-w-799 .podcast-episode__series-title {
    border-left: 0;
    clear: left;
    float: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: .8rem;
    max-width: 100%;
    width: 100%;
  }
  .breakpoint-phone-wide .podcast-episode__series-title,
  .breakpoint-phone .podcast-episode__series-title {
    width: 80%;
  }
    .podcast-episode__series-header:hover .podcast-episode__series-title,
    .podcast-episode__series-header:focus .podcast-episode__series-title {
      text-decoration: underline;
    }
  .podcast-episode__series-call-to-action {
    float: right;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    margin-top: .5rem;
  }
  .breakpoint-w-1200 .podcast-episode__series-call-to-action span { display: none; }
  .breakpoint-w-799 .podcast-episode__series-call-to-action {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }
  .breakpoint-phone-wide .podcast-episode__series-call-to-action,
  .breakpoint-phone .podcast-episode__series-call-to-action {
    top: 4rem;
  }
  .breakpoint-phone-wide .podcast-episode__series-call-to-action em,
  .breakpoint-phone .podcast-episode__series-call-to-action em {
    display: none;
  }
    .podcast-episode__series-call-to-action i {
      padding-left: 1rem;
      font-size: 1rem;
    }
    .breakpoint-phone-wide .podcast-episode__series-call-to-action i,
    .breakpoint-phone .podcast-episode__series-call-to-action i {
      font-size: 1.6rem;
    }


/* Episode header */

.podcast-episode__header {
  font-family: var(--font-sans);
  text-align: center;
  margin-bottom: 5rem;
}
.breakpoint-tablet .podcast-episode__header,
.breakpoint-phone-wide .podcast-episode__header,
.breakpoint-phone .podcast-episode__header {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

  .podcast-episode__byline {
    color: #888;
    font-size: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .breakpoint-phone-wide .podcast-episode__byline,
  .breakpoint-phone .podcast-episode__byline {
    font-size: 1.4rem;
    font-size: 1.4rem;
  }
    .podcast-episode__byline a {
      text-decoration: underline;
      color: #666;
    }
      .podcast-episode__byline a:hover,
      .podcast-episode__byline a:focus {
        color: #222;
      }

    .podcast-episode__byline-separator {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }

    .podcast-episode__byline-explicit {
      background-color: #f00;
      border-radius: .3rem;
      color: #fff;
      display: inline-block;
      font-family: var(--font-sans);
      font-size: 1.1rem;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: .1em;
      text-transform: uppercase;
      padding: .4rem .4rem .3rem;
    }

  .podcast-episode__title {
    color: var(--primary-color);
    font-size: 4.8rem;
    font-size: 4.8rem;
    font-weight: bold;
    margin-top: 2.5rem;
  }
  .breakpoint-tablet .podcast-episode__title {
    font-size: 3.8rem;
    font-size: 3.8rem;
  }
  .breakpoint-phone-wide .podcast-episode__title {
    font-size: 3rem;
    font-size: 3rem;
  }
  .breakpoint-phone .podcast-episode__title {
    font-size: 2.8rem;
    font-size: 2.8rem;
  }

.podcast-episode__body {
  margin-bottom: 5rem;
}

.podcast-episode__body .section--normal {
  max-width: var(--column-mid);
  position: relative;
}
.podcast-episode__comments {
  border-top: 1px solid #dfdfdf;
  padding-top: 3rem;
}
.podcast-episode .podcast-series__subscribe .column-mid {
  padding-top: 5rem;
  border-top: 1px solid #ddd;
}
