.nc-header-container {
  background-color: var(--color-light-blue);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.breakpoint-phone-wide .nc-header-container .nc-inner,
.breakpoint-phone .nc-header-container .nc-inner {
  padding-left: 0;
  padding-right: 0;
}

.nc-header {
  display: flex;
}

.breakpoint-phone-wide .nc-header,
.breakpoint-phone .nc-header {
  flex-direction: column-reverse;
}

/* Next Chapter logo */

.nc-logo {
  align-items: center;
  display: flex;
  padding-bottom: 7rem;
  padding-left: 7rem;
  padding-top: 7rem;
  width: 50%;
}

.breakpoint-tablet .nc-logo {
  padding-left: 1.5rem;
}

.breakpoint-phone-wide .nc-logo,
.breakpoint-phone .nc-logo {
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  width: 100%;
}

.nc-logo h1 {
  color: transparent;
  font: 0/0 a;
}

.nc-logo__image {
  max-width: 40.7rem;
  width: 100%;
}

.breakpoint-phone-wide .nc-logo__image,
.breakpoint-phone .nc-logo__image {
  max-width: 35rem;
}

.nc-clip {
  width: 19.5rem;
  clip-path: polygon(0% 0, 101% 0%, 101% 101%, 0 0%);
  background-color: var(--color-blue);
}

.breakpoint-phone-wide .nc-clip,
.breakpoint-phone .nc-clip {
  display: none;
}

.nc-font-sizes {
  align-items: center;
  display: flex;
  padding-left: 1.7rem;
  position: relative;
}

.nc-font-sizes::before {
  background-color: rgba(255,255,255,0.3);
  bottom: 0.2rem;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0.2rem;
  width: 1px;
}

.nc-font-size {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.nc-font-size--small {
  font-size: 1.1rem;
}

.nc-font-size--normal {
  font-size: 1.5rem;
}

.nc-font-size--large {
  font-size: 2rem;
}

.nc-font-size:hover {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}
