.nc-header-container {
  background-color: var(--color-light-blue);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.breakpoint-phone-wide .nc-header-container .nc-inner,
.breakpoint-phone .nc-header-container .nc-inner {
  padding-left: 0;
  padding-right: 0;
}

.nc-header {
  display: flex;
}

.breakpoint-phone-wide .nc-header,
.breakpoint-phone .nc-header {
  flex-direction: column-reverse;
}

.nc-logo {
  width: 50%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;

  align-items: center;
}

.breakpoint-phone-wide .nc-logo,
.breakpoint-phone .nc-logo {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nc-logo h1 {
  color: transparent;
  font: 0/0 a;
}

.nc-logo__image {
  width: 100%;
  max-width: 40.7rem;
}

.breakpoint-phone-wide .nc-logo__image,
.breakpoint-phone .nc-logo__image {
  max-width: 35rem;
}

.nc-clip {
  width: 17rem;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 0%);
  background-color: var(--color-blue);
}

.breakpoint-phone-wide .nc-clip,
.breakpoint-phone .nc-clip {
  display: none;
}
