.nc-nav {
  width: 50%;
  background-color: var(--color-blue);
  padding-top: 3rem;
  padding-left: 9rem;
  padding-bottom: 4rem;
  position: relative;
}

.breakpoint-tablet .nc-nav {
  padding-left: 3rem;
}

.breakpoint-phone-wide .nc-nav,
.breakpoint-phone .nc-nav {
  width: 100%;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.nc-nav::after {
  content: "";
  position: absolute;
  top: 0;
  right: -200%;
  bottom: 0;
  display: block;
  height: 100%;
  width: 200%;
  background-color: var(--color-blue);
  z-index: 0;
}

.breakpoint-phone-wide .nc-nav::after,
.breakpoint-phone .nc-nav::after {
  display: none;
}

/* Secondary nav */

.nc-secondary-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.breakpoint-phone-wide .nc-secondary-nav,
.breakpoint-phone .nc-secondary-nav {
  margin-bottom: 1rem;
}

.nc-secondary-nav__list-item {
  margin-right: 3rem;
}

.breakpoint-phone-wide .nc-secondary-nav__list-item,
.breakpoint-phone .nc-secondary-nav__list-item {
  margin-right: 1.5rem;
}

.nc-secondary-nav__list-item:last-child {
  margin-right: 0;
}

.nc-secondary-nav__list-anchor {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.nc-secondary-nav__list-anchor:hover {
  opacity: 0.8
}

/* Primary nav */

.nc-primary-nav {
}

.breakpoint-phone-wide .nc-primary-nav,
.breakpoint-phone .nc-primary-nav {
  columns: 2;
}

.nc-primary-nav__list-item {
  margin-bottom: 2.5rem;

}

.breakpoint-phone-wide .nc-primary-nav__list-item,
.breakpoint-phone .nc-primary-nav__list-item {
  padding-right: 1rem;
  margin-bottom: 0.5rem;
/*  text-align: center;*/
}

.nc-primary-nav__list-anchor {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
}

.nc-primary-nav__list-anchor:hover {
  text-decoration: underline;
}

.breakpoint-phone-wide .nc-primary-nav__list-anchor,
.breakpoint-phone .nc-primary-nav__list-anchor {
  font-size: 1.4rem;
}
