.nc-nav {
  background-color: var(--color-blue);
  padding-bottom: 4rem;
  padding-left: 9rem;
  padding-top: 3rem;
  position: relative;
  width: 50%;
}

.breakpoint-tablet .nc-nav {
  padding-left: 3rem;
}

.breakpoint-w-799 .nc-nav {
  padding-left: 1.5rem;
}

.breakpoint-phone-wide .nc-nav,
.breakpoint-phone .nc-nav {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  width: 100%;
}

.nc-nav::after {
  background-color: var(--color-blue);
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -200%;
  top: 0;
  width: 200%;
  z-index: 0;
}

.breakpoint-phone-wide .nc-nav::after,
.breakpoint-phone .nc-nav::after {
  display: none;
}

/* Secondary nav */

.nc-secondary-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3.5rem;
}

.breakpoint-w-799 .nc-secondary-nav {
  margin-left: -4rem;
}

.breakpoint-phone-wide .nc-secondary-nav,
.breakpoint-phone .nc-secondary-nav {
  border-bottom: 1px solid rgba(255,255,255,.2);
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-bottom: 1rem;
}

.nc-secondary-nav__list-item {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.breakpoint-phone-wide .nc-secondary-nav__list-item,
.breakpoint-phone .nc-secondary-nav__list-item {
  margin-right: 1.5rem;
}

.nc-secondary-nav__list-item:last-child {
  margin-right: 0;
}

.nc-secondary-nav__list-anchor {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.nc-secondary-nav__list-anchor:hover {
  opacity: 0.8
}

/* Primary nav */

.nc-primary-nav {
}

.breakpoint-phone-wide .nc-primary-nav,
.breakpoint-phone .nc-primary-nav {
  columns: 2;
}

.nc-primary-nav__list-item {
  margin-bottom: 3rem;
}

.breakpoint-w-799 .nc-primary-nav__list-item {
  margin-bottom: 2rem;
}

.breakpoint-phone-wide .nc-primary-nav__list-item,
.breakpoint-phone .nc-primary-nav__list-item {
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.nc-primary-nav__list-anchor {
  color: #FFFFFF;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.nc-primary-nav__list-anchor:hover {
  text-decoration: underline;
}

.breakpoint-tablet .nc-primary-nav__list-anchor {
  font-size: 2rem;
}

.breakpoint-w-799 .nc-primary-nav__list-anchor {
  font-size: 1.8rem;
}

.breakpoint-phone-wide .nc-primary-nav__list-anchor,
.breakpoint-phone .nc-primary-nav__list-anchor {
  font-size: 1.6rem;
}
