/* Venue */
.venue {
  padding-bottom: 5rem;
}
  .breakpoint-tablet .venue {
    padding-top: 3.5rem;
  }
  .breakpoint-phone-wide .venue,
  .breakpoint-phone .venue {
    padding-top: 2.5rem;
  }

.venue__header {
  font-family: var(--font-sans);
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
  .venue__title {
    color: var(--primary-color);
    font-size: 4.8rem;
    font-weight: bold;
  }

.venue__details {
  padding-top: 3.5rem;
}

.venue__description,
.venue__meta {
  float: left;
  width: 50%;
}

  .venue__description:first-child,
  .venue__meta:first-child {
    padding-right: 3.5rem;
  }

  .venue__description:last-child,
  .venue__meta:last-child {
    padding-left: 3.5rem;
  }

  .breakpoint-phone-wide .venue__description,
  .breakpoint-phone-wide .venue__meta,
  .breakpoint-phone .venue__description,
  .breakpoint-phone .venue__meta {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .venue__meta .copy,
  .venue__address,
  .venue__phone {
    color: #666;
    font-family: var(--font-sans);
    font-size: 1.7rem;
    line-height: 1.5;
  }
    .venue__phone {
      margin-top: 1.6rem;
    }
      .venue__phone strong {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        padding-right: 1rem;
      }
  .venue__meta h2 {
    color: var(--primary-color);
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding-top: 3.5rem;
    margin-bottom: 2.5rem;
  }
  .venue__contact h2 {
    padding-top: 0;
  }
  .venue__contact,
  .venue__directions,
  .venue__parking {
    position: relative;
    padding-bottom: 3.5rem;
  }
  .venue__directions:before,
  .venue__parking:before {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    border-top: 3px #ededed solid;
  }
