/*
  Calendar
*/

.bs-calendar {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.bs-calendar--sunday {
  padding-bottom: 5rem;
}

.breakpoint-w-768 .bs-calendar {
  padding-top: 0rem;
  padding-bottom: 5rem;
}

.bs-calendar__item {
  display: flex;
}

.bs-calendar__time {
  font-size: 2rem;
  font-weight: 500;
  width: 34%;
  padding-right: 2.4rem;
}

.breakpoint-w-768 .bs-calendar__time {
  font-size: 1.5rem;
}

.bs-calendar__event {
  flex: 1;
  margin-bottom: 5rem;
  padding-right: 2.4rem;
}

.bs-calendar__item:last-child .bs-calendar__event {
  margin-bottom: 0;
}

.breakpoint-w-768 .bs-calendar__event {
  margin-bottom: 3rem;
}

.bs-calendar__event-title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.breakpoint-w-768 .bs-calendar__event-title {
  font-size: 3rem;
  line-height: 3rem;
}

.bs-calendar__event-speakers {
  font-size: 1.4rem;
  line-height: 2rem;
}

.bs-calendar__day-heading {
  margin-bottom: 3rem;
}
