/*
  Calendar
*/

.bs-calendar {
}

.bs-calendar__item {
  display: flex;
}

.bs-calendar__time {
  font-size: 2rem;
  font-weight: 500;
  width: 34%;
}

.bs-calendar__event {
  flex: 1;
  margin-bottom: 5rem;
  padding-right: 2.4rem;
}

.bs-calendar__event-title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5rem;
  text-transform: uppercase;
}

.bs-calendar__event-speakers {
  font-size: 1.4rem;
  line-height: 2rem;
}
