<div class="column-wrapper saved-search full-width-block saved-search__square-grid saved-search__square-grid--wide">
  <div class="gradient-top-down saved-search__fake-gradient"/>
  <div class="column-wide">
    <div class="snap-wrapper clearfix" data-view-grouper="<%= {elementsSelector: ".snap-block", perGroup: { default: 4, "widescreen-wide" => 6, widescreen: 5, tablet: 3, "phone-wide" => 3, phone: 2 }}.to_json %>">
      <%- if data[:title].present? || data[:caption].present? %>
        <div class="section-header">
          <h2><%= data[:title] %></h2>
          <%- if data[:caption].present? %>
            <div class="intro">
              <p><%= data[:caption].html_safe %></p>
            </div>
          <%- end %>
        </div>
      <%- end %>
