.blog-post {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.breakpoint-tablet .blog-post {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.breakpoint-phone-wide .blog-post,
.breakpoint-phone .blog-post {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blog-post__header {
  font-family: var(--font-sans);
  text-align: center;
  margin-bottom: 5rem;
}
.breakpoint-tablet .blog-post__header,
.breakpoint-phone-wide .blog-post__header,
.breakpoint-phone .blog-post__header {
  margin-bottom: 2rem;
}

  .blog-post__byline {
    color: #888;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .breakpoint-phone-wide .blog-post__byline,
  .breakpoint-phone .blog-post__byline {
    font-size: 1.4rem;
  }
    .blog-post__byline a {
      text-decoration: underline;
      color: #666;
    }
      .blog-post__byline a:hover,
      .blog-post__byline a:focus {
        color: #222;
      }

    .blog-post__byline-separator {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }

  .blog-post__title {
    color: var(--primary-color);
    font-size: 4.8rem;
    font-weight: bold;
    margin-top: 2.5rem;
  }
  .breakpoint-tablet .blog-post__title {
    font-size: 3.8rem;
  }
  .breakpoint-phone-wide .blog-post__title {
    font-size: 3rem;
  }
  .breakpoint-phone .blog-post__title {
    font-size: 2.8rem;
  }

.blog-post__intro {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}
.breakpoint-tablet .blog-post__intro,
.breakpoint-phone-wide .blog-post__intro,
.breakpoint-phone .blog-post__intro {
  padding-top: 2rem;
  padding-bottom: .5rem;
}

  .blog-post__intro:after {
    content: "";
    border-bottom: 1px solid #dfdfdf;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    width: 30%;
  }

  .blog-post__intro .section--full,
  .blog-post__body .section--full {
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-left: -3.5rem;
    margin-right: -3.5rem;
  }
    .breakpoint-phone .blog-post__intro .section--full,
    .breakpoint-phone .blog-post__body .section--full {
      padding-left: 2rem;
      padding-right: 2rem;
      overflow-x: hidden;
    }

  .blog-post__intro .section--normal,
  .blog-post__body .section--normal {
    max-width: var(--column-mid);
    position: relative;
  }
  .breakpoint-widescreen-wide .blog-post__body .section--normal > *:not(div),
  .breakpoint-widescreen .blog-post__body .section--normal > *:not(div),
  .breakpoint-tablet-wide .blog-post__body .section--normal > *:not(div) {
    /* Shift _most_ of the content over */
    margin-right: 25%;
    margin-right: calc(25% + 3rem);
  }
  /* No borders on blockquotes if they're last */
  .blog-post__intro .section--normal:last-child blockquote:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  /* Hide the intro line when there's a full-width section as the first thing in the body */
  .blog-post__intro + .blog-post__body .section--full:first-child .figure:first-child {
    margin-top: -7.1rem;
  }


.blog-post__meta {
  padding-top: 3rem;
}
  .blog-post__meta-inner {
    color: #888;
    font-family: var(--font-sans);
    font-size: 1.7rem;
  }
  .blog-post__meta-inner:before {
    border-bottom: 1px solid #dfdfdf;
    content: "";
    display: block;
    margin-bottom: 3.5rem;
    width: 15%;
  }

.blog-post .figure__display--default {
  padding-bottom: 3rem;
  padding-top: 2rem;
}
  .breakpoint-widescreen-wide .blog-post .figure__display--default {
    margin-left: -25%;
    margin-right: -25%;
    margin-left: calc(-25% + 3.5rem);
    margin-right: calc(-25% + 3.5rem);
  }
    .breakpoint-widescreen-wide .blog-post .figure__display--default.figure__rich {
      margin-left: 0;
      margin-right: 0;
    }

.blog-post .figure__display--left-aligned {
  float: left;
  margin-right: 3.5rem;
  padding-bottom: 3.5rem;
  padding-top: .4rem;
  width: 35%;
}
.breakpoint-phone .figure__display--left-aligned {
  float: none;
  margin-right: 0;
  width: 100%;
}
  .breakpoint-widescreen-wide .blog-post .figure__display--left-aligned {
    margin-left: -25%;
    width: 50%;
  }

.blog-post .figure__display--right-aligned {
  float: right;
  width: 50%;
  margin-left: 3.5rem;
  padding-bottom: 3.5rem;
  padding-top: .4rem;
}
  .blog-post .figure__display--right-aligned-narrow {
    width: 25%;
  }
.breakpoint-phone .figure__display--right-aligned {
  float: none;
  margin-left: 0;
  width: 100%;
}
  .breakpoint-widescreen-wide .blog-post .figure__display--right-aligned {
    margin-right: -25%;
  }
  .breakpoint-widescreen-wide .blog-post .figure__display--right-aligned-narrow {
    margin-right: 0;
  }

.blog-post .figure__display--center-aligned {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.5rem;
  padding-top: .4rem;
  text-align: center;
}
  .breakpoint-phone .copy .figure__display--center-aligned {
    width: 100%;
  }


/* Tags */
.blog-post__tags {
  color: #888;
  font-family: var(--font-sans);
  padding-top: 5rem;
  position: relative;
  padding-bottom: 8rem;
  width: 50%;
  float: left;
  padding-right: 2rem;
}
.breakpoint-tablet .blog-post__tags {
  padding-top: 3rem;
}
.breakpoint-phone-wide .blog-post__tags,
.breakpoint-phone .blog-post__tags {
  padding-top: 2rem;
}
  .blog-post__tag-header {
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    padding-right: 2rem;
    padding-top: .2rem;
    margin-left: -8.1rem;
    position: absolute;
    text-transform: uppercase;
  }
  .breakpoint-w-1200 .blog-post__tag-header {
    margin-left: 0;
    padding-bottom: 1rem;
    position: relative;
  }
  .blog-post__tags-list {
    display: block;
    font-size: 1.5rem;
  }
  .blog-post__tags-list li {
    display: inline;
  }
  .blog-post__tags-list li:after {
    content: ", ";
    margin-left: -0.2em;
  }
    .blog-post__tags-list li:last-child:after {
      content: "";
    }
  .blog-post__tags-list a {
    color: #222;
    text-decoration: underline;
  }
    .blog-post__tags-list a:hover {
      color: var(--primary-color);
    }

/* Share links */
.blog-post__sharing {
  float: right;
  width: 50%;
  padding-top: 5rem;
}
.blog-post__sharing h2.social-links__header {
  padding-right: 2rem;
  float: left;
}
.blog-post__guest-author {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 3rem;
}

.blog-post__guest-author-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7rem;
  height: 12rem;
  width: 12rem;
}
  .breakpoint-phone .blog-post__guest-author-image {
    margin-top: 2rem;
  }
  .blog-post__guest-author-image img {
    border-radius: 50%;
    display: block;
    transform: scale3d(1, 1, 1);
    transition-property: transform;
    transition-duration: 250ms;
    width: 100%;
  }
    a.blog-post__guest-author-image:hover img,
    a.blog-post__guest-author-image:focus img {
      transform: scale3d(1.1, 1.1, 1);
    }
  .blog-post__guest-author-image-inner {
    height: 100%;
    width: 100%;
  }

.blog-post__guest-author-intro {
  color: #888;
  font-size: 1.6rem;
  font-family: var(--font-sans);
  line-height: 1.6;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}


/*Index*/

.blog-index {
  padding-bottom: 10rem;
}
.breakpoint-tablet .blog-index {
  /*padding-top: 4rem;*/
  padding-bottom: 2rem;
}
.breakpoint-phone-wide .blog-index,
.breakpoint-phone .blog-index {
  /*padding-top: 2rem;*/
  padding-bottom: 2rem;
}

/* Latest */
.blog-index__latest {}

  .blog-index__latest-header {
    color: #777;
    font-family: var(--font-sans);
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    font-size: 1.4rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.5rem;
  }


/* Blog index: Authors */

.author-image {
  margin-left: auto;
  margin-right: auto;
  height: 7.5rem;
  width: 7.5rem;
}
  .author-image img {
    display: block;
    width: 100%;
  }
  .author-image__inner {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

.blog-index__guest-authors {
  background-color: #dbfffb;
  clear: both;
  overflow: hidden;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  margin-bottom: 3.5rem;
}
.guest-author {
  padding-bottom: 4.5rem;
}
  .guest-author .blog-post-list:before,
  .guest-author .blog-post-list__anchor {
    border-color: color(#dbfffb shade(5%));;
  }
  /*.breakpoint-widescreen-wide .guest-author,
  .breakpoint-widescreen .guest-author {
    float: left;
    width: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
  }*/

.guest-author__title {
  font-size: 1.8rem;
  font-family: var(--font-sans);
  font-weight: bold;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.guest-author__intro {
  font-size: 1.6rem;
  text-align: center;
}

/* Blog post list */

.blog-post-list {
  position: relative;
}
  .blog-post-list:before {
    border-top: 1px solid #dfdfdf;
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    margin-top: 1.5rem;
    width: 30%;
  }

  .blog-post-list__anchor {
    border-top: 1px solid #dfdfdf;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
    .blog-post-list__anchor:hover .title-text {
      color: var(--primary-color);
      text-decoration: underline;
    }
    .blog-post-list li:first-child .blog-post-list__anchor {
      border-top: none;
    }

.blog-post-list__title {
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-index__topic {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.breakpoint-w-879 .blog-index__topic {
  padding-bottom: 1.5rem;
}

.blog-post__comments {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
