// Admin: Field External Video ---------------------------------------------------

.field-external-video {
  position: relative;
}
.field-external-video__button {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
.field-external-video__button--covered {
  visibility: hidden;
}
.field-external-video__button--uncovered, .field-external-video__button--done {
  visibility: visible;
  cursor: pointer;
}
.field-external-video__button--success {
  background: $highlight;
}
.field-external-video__button--loading, .field-external-video__button--loading:hover {
  background: $grey;
  cursor: none;
}
