.header {
  @extend %wrapper;
  padding: 5% 0 0;
  margin-bottom: 10px;
}


.header__container {
  @extend %container;

  &:after {
    background-color: $black;
    clear: both;
    content: '';
    display: block;
    height: 1px;
    padding: 0;
    width: $full-width;
  }
}



.nav--header {
  @extend %column;
  margin-bottom: 5px;
  margin-top: 6px;
  width: $full-width;

  .nav__link-text {
    @include font-size(20);
    float: left;
    &:hover {
      color: $black;
    }
  }
}
