.page__content {
  float: left;
  margin-bottom: 50px;
  width: $full-width;
}

.page__title {
  width: $full-width;
  margin: 2* $gutter 0;

  h1 {
    @include font-size(24);
    color: $grey;
    font-family: 'Helvetica';
  }

  h2 {
    @include font-size(20);
    font-family: 'Helvetica';
  }
}

.hero-image {
  @extend %column;
  @include font-size(16);
  width: $full-width;
  margin-bottom: 2 * $gutter;
}

.page__body {
  @include font-size(16);
  width: $full-width;
}

.page__body--session {
  width: $one-quarter;
  margin: 2% auto;
}

.page__body--session-links {
  a {
    text-decoration: underline;
  }
}