// Global variables --------------------------------------


// Colours
$black:       #000000;
$white:       #FFFFFF;
$light-grey:  #B8B8B8;
$grey:				#CCCCCC;


// geometry
$full-width:      100%;
$half-width:      $full-width / 2;
$one-quarter:     $full-width / 4;
$three-quarters:  $one-quarter * 3;

// gutters
$gutter: 1%;
