.video-player {
  font-family: var(--font-sans);
  position: relative;
}
  /* Teaser */
  .video-player__teaser {
    background-color: rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 300ms;
    z-index: 2;
  }

    .video-player__teaser:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .video-player--playing .video-player__teaser {
      opacity: 0;
      pointer-events: none;
    }

  /* Cover */
  .video-player__cover {
    background-color: #000;
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0.65;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 300ms;
    z-index: 1;
  }
    .video-player__teaser--preview .video-player__cover {
      opacity: 0.1;
    }

  /* Header */
  .video-player__header {
    display: inline-block;
    max-width: 100%;
    position: relative;
    text-align: left;
    vertical-align: middle;
    max-width: 70rem;
    width: 80%;
    z-index: 3;
  }
    .video-player .video-player__title {
      cursor: pointer;
      font-size: 3.2rem;
      line-height: 1.4;
      margin-left: 8.5rem;
    }
    .video-player__teaser:hover .video-player__title {
      color: rgba(255,255,255,0.8);
    }

      .breakpoint-phone-wide .video-player .video-player__title,
      .breakpoint-phone .video-player .video-player__title {
        font-size: 1.6rem;
        font-size: 1.6rem;
        margin-left: 5rem;
      }

  .video-player__play {
    border-color: #fff;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    color: rgba(255,255,255,0.9);
    cursor: pointer;
    display: block;
    height: 6rem;
    width: 6rem;
    position: absolute;
    left: 0;
    top: 0;
  }
      .video-player__play:focus {
        outline: 1px currentColor dotted;
      }

      .breakpoint-phone-wide .video-player__play,
      .breakpoint-phone .video-player__play {
        height: 3rem;
        width: 3rem;
      }

    .video-player__play-icon {
      font-size: 2.2rem;
      height: 2.2rem;
      width: 2.2rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -.7rem;
      margin-top: -1.1rem;
    }
      .breakpoint-phone-wide .video-player__play-icon,
      .breakpoint-phone .video-player__play-icon {
        font-size: 1.4rem;
        margin-left: -.4rem;
        margin-top: -.8rem;
      }

  /* Metadata */
  .video-player__metadata {
    color: rgba(255,255,255,0.8);
    font-size: 1.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.18em;
    left: 3rem;
    position: absolute;
    top: 2.4rem;
    text-transform: uppercase;
    z-index: 3;
  }
    .video-player__watch,
    .video-player__duration {
      display: inline-block;
      padding-bottom: .6rem;
      padding-top: .6rem;
    }

    .video-player__duration {
      border-left: 1px solid rgba(255,255,255, 0.4);
      opacity: 0;
      margin-left: 2rem;
      padding-left: 2rem;
      transition: opacity 300ms;
    }

  .video-player--loaded .video-player__duration {
    opacity: 1;
  }

  /* Content */
  .video-player__content {
    background-color: #111;
    display: block;
    padding: 2rem;
  }
    /* Make sure the video doesn’t expand to be ridiculously tall */
    .video-player__content-inner {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 80rem;
    }



/* TODO move this */
.responsive-embed {
  position: relative;
  padding-bottom: calc(56.25% + 5%); /* 16:9 */
  height: 0;
  z-index: 1;
}
  .responsive-embed video,
  .responsive-embed object,
  .responsive-embed iframe  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
