.longform-blog-edition {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.longform-blog-edition__hero-image {
  max-width: 30%;
  margin-bottom: 5rem;
  float: left;
  clear: left;
}

.longform-blog-edition__right {
  margin-bottom: 5rem;
  max-width: 70%;
  padding-left: 5rem;
  float: left;
}
.longform-blog-edition__title {
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: bold;
  padding-top: .6rem;
  margin-bottom: 1.4rem;
  line-height: 1.2;
}

.edition-hero {
  width: 100%;
  margin-bottom: 2em;
}
