.content-block {}

.content-block .section--normal {
  max-width: var(--column-mid);
  position: relative;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.content-block .section--full {
  clear: both;
  padding-top: 1.5rem;
}

.content-block {}

/* Saved search */

.saved-search {
  position: relative;
}
  .saved-search .column-full,
  .saved-search .column-wide,
  .saved-search .column-mid,
  .saved-search .column-narrow {
    position: relative;
    z-index: 2;
  }
  .saved-search__fake-gradient {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 20rem;
    z-index: 0;
  }
  .gradient-top-down.saved-search__fake-gradient {
    top: 0;
  }
  .gradient-bottom-up.saved-search__fake-gradient {
    bottom: 0;
  }

.saved-search__landscape-grid-uneven,
.saved-search__square-grid {
  padding-top: 3.5rem;
}
