/* Banner */
.home-banner {
  background-color: var(--primary-color);
  color: #fff;
  float: left;
  font-family: var(--font-sans);
  position: relative;
  text-align: left;
  transition-property: background-color;
  transition-duration: 600ms;
  width: 25%;
}
  .home-banner:hover,
  .home-banner:focus {
    background-color: #111;
  }

  .home-banner__shim {
    padding-top: 57.1%;
  }
  .home-banner__image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
  }
    .home-banner__image img {
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition-property: transform, opacity;
      transition-duration: 900ms;
      opacity: 1;
      width: 100%;
    }
      .home-banner:hover .home-banner__image img,
      .home-banner:focus .home-banner__image img {
        transform: scale3d(1.1, 1.1, 1);
        opacity: 0.85;
      }
  .home-banner__detail {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.88) 65%);
    bottom: 0;
    left: 0;
    max-height: 100%;
    padding: 5rem 2.5rem 2.5rem;
    position: absolute;
    right: 0;
  }
    .breakpoint-tablet-wide .home-banner__detail,
    .breakpoint-tablet .home-banner__detail {
      padding: 3rem 1.8rem 1.8rem;
    }
    .breakpoint-phone-wide .home-banner__detail,
    .breakpoint-phone .home-banner__detail {
      padding: 2rem 1.5rem 1.5rem;
    }
    .home-banner__category {
      font-size: 1.3rem;
      letter-spacing: 0.15em;
      margin-bottom: .5rem;
      padding-bottom: .5rem;
      text-transform: uppercase;
    }
    .breakpoint-phone-wide .home-banner__category,
    .breakpoint-phone .home-banner__category {
      margin-bottom: 0;
    }

    .home-banner__category i {
      border-left: 1px solid #fff;
      border-color: rgba(255,255,255,0.5);
      margin-left: 1.4rem;
      padding-left: 1.4rem;
    }

    .home-banner__category-icon--listen {
      content: "\f001";
    }


    .home-banner__label strong {
      font-weight: bold;
    }
    .home-banner__label em {
      font-style: italic;
    }

    .breakpoint-widescreen .home-banner__label,
    .breakpoint-tablet-wide .home-banner__label {
      font-size: 1.5rem;
    }


    .breakpoint-tablet .home-banner__label,
    .breakpoint-phone-wide .home-banner__label,
    .breakpoint-phone .home-banner__label {
      font-size: 1.3rem;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

/* Layout properties */

.home-banner--width-one,
.home-banner--width-two {
  width: 100%;
}
.home-banner__group--max-width-two .home-banner--width-one {
  width: 50%;
}

/* Groups need specific layout instructions to get them looking right with the JS */
.home-banner__group {
  float: left;
}

/* 1 */

.home-banner__group--layout-1 {
  width: 100%;
}

/* 2 */

.home-banner__group--layout-2 {
  width: 50%;
}

/* 3 */
.home-banner__group--layout-3.home-banner__group--max-width-two {
  width: 66.66666%;
}
.home-banner__group--layout-3.home-banner__group--max-width-one {
  width: 33.33333%;
}

/* 4 */
.home-banner__group--layout-4.home-banner__group--max-width-two {
  width: 40%;
}
.home-banner__group--layout-4.home-banner__group--max-width-one {
  width: 20%;
}

/* 5 */
.home-banner__group--layout-5.home-banner__group--max-width-two {
  width: 50%;
}
.home-banner__group--layout-5.home-banner__group--max-width-one {
  width: 25%;
}
  /* Phone wide */
  .breakpoint-phone-wide .home-banner__group--layout-5,
  .breakpoint-phone .home-banner__group--layout-5 {
    width: 100%;
  }
  .breakpoint-phone-wide .home-banner__group--layout-5 .home-banner--width-two .home-banner__shim,
  .breakpoint-phone .home-banner__group--layout-5 .home-banner--width-two .home-banner__shim {
    padding-top: 40%;
  }
  .breakpoint-phone-wide .home-banner__group--layout-5 .home-banner--width-one,
  .breakpoint-phone .home-banner__group--layout-5 .home-banner--width-one {
    width: 50%;
  }

/* 6 */
.home-banner__group--layout-6.home-banner__group--max-width-two,
.home-banner__group--layout-6.home-banner__group--max-width-one {
  width: 50%;
}
  /* Phone */
  .breakpoint-phone-wide .home-banner__group--layout-6,
  .breakpoint-phone .home-banner__group--layout-6 {
    width: 100%;
  }
  .breakpoint-phone-wide .home-banner__group--layout-6 .home-banner--width-two .home-banner__shim,
  .breakpoint-phone .home-banner__group--layout-6 .home-banner--width-two .home-banner__shim {
    padding-top: 40%;
  }


/* Layout 7 is a special case because prime numbers are mean to me */
.home-banner__group--layout-7 {
  width: 100%;
}
  .home-banner__group--layout-7:first-child .home-banner {
    width: 25%;
  }
  .home-banner__group--layout-7:last-child .home-banner {
    width: 33.333333%;
  }

/* 8 */
.home-banner__group--layout-8.home-banner__group--max-width-two {
  width: 36.35%;
}
.home-banner__group--layout-8.home-banner__group--max-width-one {
  width: 27.3%;
}

/* 9 */
.home-banner__group--layout-9.home-banner__group--max-width-two,
.home-banner__group--layout-9.home-banner__group--max-width-one {
  width: 33.3333%;
}
  /* Tablet */
  .breakpoint-tablet .home-banner__group--layout-9 {
    width: 50%;
  }
  /* Collapse the last row into a single set of three */
  .breakpoint-tablet .home-banner__group--layout-9:last-child {
    width: 100%;
  }
    .breakpoint-tablet .home-banner__group--layout-9:last-child .home-banner {
      width: 33.333333%;
    }

/* Phone widths all set to full */
.breakpoint-phone-wide [class^="home-banner__group--layout"],
.breakpoint-phone-wide [class*=" home-banner__group--layout"],
.breakpoint-phone [class^="home-banner__group--layout"],
.breakpoint-phone [class*=" home-banner__group--layout"] {
  width: 100%;
}
.breakpoint-phone-wide [class^="home-banner__group--layout"] [class^="home-banner--width"],
.breakpoint-phone-wide [class*=" home-banner__group--layout"] [class*=" home-banner--width"],
.breakpoint-phone [class^="home-banner__group--layout"] [class^="home-banner--width"],
.breakpoint-phone [class*=" home-banner__group--layout"] [class*=" home-banner--width"] {
  width: 100%;
}
.breakpoint-phone-wide .home-banner__image img,
.breakpoint-phone .home-banner__image img {
  margin-top: -10%;
}
.breakpoint-phone-wide [class^="home-banner__group--layout"] [class^="home-banner--width"]  .home-banner__shim,
.breakpoint-phone-wide [class*=" home-banner__group--layout"] [class*=" home-banner--width"]  .home-banner__shim,
.breakpoint-phone [class^="home-banner__group--layout"] [class^="home-banner--width"]  .home-banner__shim,
.breakpoint-phone [class*=" home-banner__group--layout"] [class*=" home-banner--width"]  .home-banner__shim {
  padding-top: 38%;
}
