/* Variables */

:root {
  --column-full: 168rem;
  --column-wide: 120rem;
  --column-mid: 94rem;
  --column-small: 86rem;
  --column-narrow: 60rem;
  --font-mono: "monaco", monospace;
  --font-sans: "Colfax", Helvetica, sans-serif;
  --font-serif: "FreightTextPro", "Hoefler Text", Palatino, serif;
  --primary-color: #009e8c;
  --primary-color-lighter: #ccefeb;
  --primary-color-light: #b4dbd7;
  --primary-color-darker: color(var(--primary-color) shade(15%));
  --text-color: #333;
  --max-width: 100%;
}

/* Imports */

@import "./utilities/reset.css";
@import "./utilities/accessibility.css";
@import "./utilities/clearfix.css";
@import "./fonts/colfax.css";
@import "./fonts/freight-text-pro.css";
@import "./fonts/font-awesome.css";
@import "./fonts/ss-social-regular.css";

/* Base */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-color: var(--primary-color);
  font-size: 62.5%;
}

.breakpoint-tablet,
.breakpoint-tablet-wide {
  font-size: 55%;
}

.breakpoint-phone-wide,
.breakpoint-phone {
  font-size: 50%;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-family: var(--font-serif);
  font-size: 1.7rem;
  line-height: 1.3;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

@import "./copy/index.css";

.quo {
  margin-left: -0.28em;
}
.dquo {
  margin-left: -0.5em;
}

/* Basic layout */

.column-wrapper {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
  .breakpoint-phone .column-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-x: hidden;
  }

.column-full,
.column-wide,
.column-mid,
.column-small,
.column-narrow {
  margin-left: auto;
  margin-right: auto;
}
.column-full {
  max-width: var(--column-full);
}
.column-wide {
  max-width: var(--column-wide);
}
.column-mid {
  max-width: var(--column-mid);
}
.column-small {
  max-width: var(--column-small);
}
.column-narrow {
  max-width: var(--column-narrow);
}

.block-link {
  color: var(--primary-color);
  display: block;
  font-family: var(--font-sans);
  font-weight: bold;
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  margin-bottom: 3.5rem;
}
  a.block-link:hover {
    color: #222;
    text-decoration: underline;
  }
  .block-link em {
    font-style: italic;
  }

.section--normal {
  margin-left: auto;
  margin-right: auto;
}

.intro {
  text-align: center;
}
  .intro--small,
  .breakpoint-tablet .intro--small ,
  .breakpoint-phone-wide .intro--small ,
  .breakpoint-phone .intro--small  {
    font-size: 1.7rem;
  }

  .section-header {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
  }
    .breakpoint-phone-wide .section-header,
    .breakpoint-phone .section-header {
      padding-top: .8rem;
      padding-bottom: 1.5rem;
    }
  .breakpoint-w-699 .section-header {
    padding-bottom: 2rem;
  }

  .section-header h2 {
    color: #757575;
    font-family: var(--font-sans);
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    font-size: 1.4rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-bottom: 1.2rem;
  }

  .section-header .intro {
    font-size: 1.7rem;
  }
    .breakpoint-phone-wide .intro,
    .breakpoint-phone .intro {
      font-size: 1.4rem;
    }

.page__intro {
  padding-bottom: 3.5rem;
}
  .page__intro.copy {
    font-size: 2.5rem;
  }

.gradient-top-down {
  background: linear-gradient(to right, #fff 0%, rgba(250, 250, 250, 0) 20%), linear-gradient(to left, #fff 0%, rgba(250, 250, 250, 0) 20%), linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.05) 100%);
  padding-top: 2.5rem;
}
  .breakpoint-tablet-wide .gradient-top-down {
    padding-top: 2rem;
  }
  .breakpoint-tablet .gradient-top-down {
    padding-top: 1.5rem;
  }
  .breakpoint-phone-wide .gradient-top-down,
  .breakpoint-phone .gradient-top-down {
    padding-top: 1rem;
  }

.gradient-bottom-up {
  background: linear-gradient(to right, #fff 0%, rgba(250, 250, 250, 0) 20%), linear-gradient(to left, #fff 0%, rgba(250, 250, 250, 0) 20%), linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.05) 100%);
  padding-bottom: 2.5rem;
}
  .breakpoint-tablet-wide .gradient-bottom-up {
    padding-bottom: 2rem;
  }
  .breakpoint-tablet .gradient-bottom-up {
    padding-bottom: 1.5rem;
  }
  .breakpoint-phone-wide .gradient-bottom-up,
  .breakpoint-phone .gradient-bottom-up {
    padding-bottom: 1rem;
  }

/* Components */

@import "./skip-links/index.css";
@import "./masthead/index.css";
@import "./masthead-contextual/index.css";
@import "./content-block/index.css";
@import "./footer/index.css";
@import "./footer-ticker/index.css";
@import "./pagination";
@import "./figure/index.css";
@import "./pull-quote/index.css";
@import "./sub-page-nav/index.css";
@import "./video-player/index.css";
@import "./audio-player/index.css";
@import "./subscribe/index.css";
@import "./social-media/index.css";
@import "./content-page/index.css";
@import "./topics-section/index.css";
@import "./blog-snap-block/index.css";
@import "./blog-post/index.css";
@import "./longform-blog-post/index.css";
@import "./event/index.css";
@import "./event-snap-block/index.css";
@import "./event-venue-map/index.css";
@import "./events-archive/index.css";
@import "./broadcasts-archive/index.css";
@import "./blog-archive/index.css";
@import "./events-series-index/index.css";
@import "./event-series-snap-block/index.css";
@import "./event-series/index.css";
@import "./venues-index/index.css";
@import "./venue/index.css";
@import "./recording/index.css";
@import "./recording-snap-block/index.css";
@import "./topic/index.css";
@import "./people/index.css";
@import "./person/index.css";
@import "./person-snap-block/index.css";
@import "./home/index.css";
@import "./home-banners/index.css";
@import "./podcasts/index.css";
@import "./podcast-episode-snap-block/index.css";
@import "./podcast-series-snap-block/index.css";
@import "./search/index.css";
@import "./vpla/index.css";
@import "./criticism-now/index.css";
@import "./texts-in-the-city/index.css";
@import "./residents/index.css";
@import "./sponsors/index.css";
@import "./staff/index.css";
@import "./subscribe-popup/index.css";
@import "./campaign-banner/index.css";
@import "./social-sharing-links/index.css";
@import "./flarum-discussion/index.css";
@import "./adopt-a-word/index.css";
@import "./copy-to-clipboard/index.css";
@import "./modal-gallery/index.css";

/* TNEW page overwrite styles */
@import "./tnew/index.css";
@import "./tnew/buttons.css";
@import "./tnew/calendar.css";
@import "./tnew/cart.css";
@import "./tnew/event.css";
@import "./tnew/form.css";
@import "./tnew/login.css";
@import "./tnew/modal.css";
@import "./tnew/packages.css";
@import "./tnew/register.css";
@import "./tnew/subnav.css";
@import "./tnew/tabs.css";
@import "./tnew/donate.css";
