/* Home page */

.home {
  padding-bottom: 3.5rem;
}

.home__intro {
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}


.home__banners {
  margin-bottom: 3.5rem;
}
  .home__banners:after {
    content: "";
    display: block;
    height: .2rem;
    background-color: #fff;
    top: -.2rem;
    position: relative;
  }

/* Di Gribble Argument feature */

.home__di-gribble-argument-feature {
  padding-bottom: 3.5rem;
}

.home__di-gribble-argument-feature .grouper {
  text-align: left;
}

.home__di-gribble-argument-feature .grouper--3 .grouper-item {
  width: calc((100% / 3) + 1.2rem);
}

.home__di-gribble-argument-feature .grouper--3 .grouper-item:last-child {
  padding-right: 0;
  width: calc((100% / 3) - 2.4rem);
}

.home__di-gribble-argument-feature {
  float: left;
  width: 50%;
}
  .home__di-gribble-argument-feature .snap-wrapper {
    margin-right: 0;
  }
  .home__di-gribble-argument-feature--full {
    float: none;
    width: 100%;
  }

.breakpoint-phone .home__di-gribble-argument-feature {
  width: 100%;
  background: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

/* Highlights */

.home__highlights,
.home__user-highlights {
  /*padding-top: 3.5rem;*/
  padding-bottom: 3.5rem;
}

.home__highlights .grouper,
.home__user-highlights .grouper {
  text-align: left;
}

.home__highlights {
  float: left;
  width: 50%;
}
  .home__highlights .snap-wrapper {
    margin-right: 0;
  }
  .home__highlights--full {
    float: none;
    width: 100%;
  }

.home__user-highlights {
  background: linear-gradient(to top, #fff 0%, rgba(250, 250, 250, 0) 20%), linear-gradient(to bottom, #fff 0%, rgba(250, 250, 250, 0) 20%), linear-gradient(to left, rgba(0,0,0,0) 30%, rgba(0, 0, 0, 0.05) 100%);
  border-left: 1px solid #ededed;
  float: right;
  padding-left: 3.5rem;
  width: 50%;
}


.breakpoint-phone .home__highlights,
.breakpoint-phone .home__user-highlights {
  width: 100%;
  background: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}



/* Quotes */

.home__quotes {
  float: left;
  width: 50%;
  border-right: 1px solid #ededed;
}
  .home__quotes .section-header,
  .home__writings .section-header {
    border-bottom: 1px solid #ededed;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  .home__quotes .section-header:before,
  .home__writings .section-header:before {
    background-image: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    left: 0;
    bottom: -.1rem;
    width: 10rem;
    height: .1rem;
  }
  .home__writings .section-header:before {
    background-image: linear-gradient(to left, #fff 0%, rgba(255,255,255,0) 100%);
    left: auto;
    right: 0;
  }

.home-quote {
  position: relative;
  padding-left: 11rem;
  padding-right: 3.5rem;
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}
  .breakpoint-phone .home-quote {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }

  .home-quote:after {
    content: "";
    display: block;
    border-top: .2rem #ededed solid;
    width: 50%;
  }
  .home-quote:last-child:after {
    display: none;
  }

  .home-quote .event-presenter__image {
    height: 8rem;
    top: 2rem;
    width: 8rem;
  }
    .breakpoint-phone-wide .home-quote .event-presenter__image,
    .breakpoint-phone .home-quote .event-presenter__image {
      position: static;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
    }

  .home-quote__quote {
    font-size: 2rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.3;
  }

  .home-quote__caption {
    padding-bottom: 3.5rem;
  }

  .home-quote__caption.copy {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-size: 1.5rem;
    margin-top: -.8rem;
  }
    .home-quote__caption.copy,
    .home-quote__caption.copy a {
      color: #999;
    }
      .home-quote__caption.copy a:hover,
      .home-quote__caption.copy a:focus {
        color: var(--primary-color);
        text-decoration: underline;
      }


/* Writings */
.home__writings {
  border-left: 1px solid #ededed;
  float: left;
  margin-left: -.1rem;
  width: 50%;
}

  .breakpoint-phone .home__quotes,
  .breakpoint-phone .home__writings {
    background: transparent;
    border: none;
    width: 100%;
  }

.home__writings-list {
  padding-left: 3.5rem;
  padding-top: 3rem;
}
  .breakpoint-phone-wide .home__writings-list,
  .breakpoint-phone .home__writings-list {
    padding-left: 0;
  }

.home__body {
  margin-top: 3.5rem;
}

.content-page__header {
  max-width: var(--column-mid);
  position: relative;
}


/* About */

.home__about {
  background-color: var(--primary-color-lighter);
  background-image: url(about-bg.png);
  background-size: cover cover;
  background-position: center center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
  .home__about-content {
    padding-bottom: 1.5rem;
  }

  .home__about-link {
    font-family: var(--font-sans);
    color: var(--primary-color);
  }
    .home__about-link:hover,
    .home__about-link:focus {
      color: #333;
      text-decoration: underline;
    }

/* Logos */

.home__logos {
  padding-bottom: 5rem;
  text-align: center;
}

  .home__logos-list {
    margin-left: auto;
    margin-right: auto;
  }

    .home__logos-list-item {
      display: inline-block;
      padding-bottom: 2rem;
    }

    .home__logos-list-item {
      padding-right: 6rem;
    }
    .breakpoint-w-879 .home__logos-list-item {
      padding-right: 3rem;
    }
    .home__logos-list-item:last-child {
      padding-right: 0rem;
    }
    .breakpoint-phone .home__logos-list-item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

      .home__logos-list-span {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        color: transparent;
        display: block;
        font: 0/0 a;
      }
      .home__logos-list-span--creative-victoria {
        background-image: url('creative-victoria.jpg');
        width: 17rem;
        height: 9rem;
      }
      .home__logos-list-span--unesco {
        background-image: url('unesco-city-of-literature.png');
        width: 17rem;
        height: 9rem;
      }
      .home__logos-list-span--aus-council {
        background-image: url('aus-council.jpg');
        width: 21rem;
        height: 9rem;
      }
      .home__logos-list-span--city-of-melb {
        background-image: url('city-of-melbourne.jpg');
        width: 18rem;
        height: 9rem;
      }
