/* Contextual */

.masthead-contextual {
  background-color: #fff;
}

.masthead-contextual--events {
  background-color: var(--primary-color);
}

  .masthead-contextual__section-title {
    background-color: var(--primary-color);
    color: var(--primary-color-lighter);
    float: left;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-left: 3.5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
  }
    .breakpoint-tablet .masthead-contextual__section-title {
      font-size: 1.5rem;
    }
    .breakpoint-phone-wide .masthead-contextual__section-title,
    .breakpoint-phone .masthead-contextual__section-title {
      display: none;
    }
    .breakpoint-phone .masthead-contextual__section-title {
      padding-left: 1.5rem;
    }

  .breakpoint-w-599 .masthead-contextual__section-title {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  .masthead-contextual__navigation-list {
    float: left;
    margin-bottom: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2.5rem;
  }
    .breakpoint-phone .masthead-contextual__navigation-list {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

  .masthead-contextual__navigation-item {
    float: left;
    padding-right: 4rem;
    padding-bottom: .5rem;
  }
  .breakpoint-phone-wide .masthead-contextual__navigation-item {
    padding-right: 2rem;
  }
  .breakpoint-phone .masthead-contextual__navigation-item {
    padding-right: 1.2rem;
  }

  .masthead-contextual__navigation-anchor {
    border-bottom: 2px solid #fff;
    color: var(--primary-color);
    display: inline-block;
    padding-bottom: .6rem;
  }

  .breakpoint-phone .masthead-contextual__navigation-anchor {
    font-size: 1.5rem;
    padding-bottom: .6rem;
  }

  .masthead-contextual__navigation-anchor:hover,
  .masthead-contextual__navigation-anchor:focus {
    color: #4a4a4a;
  }

  .masthead-contextual__navigation-anchor--active {
    border-color: #d9d9d9;
    color: #4a4a4a;
  }


/* Upcoming events */
.upcoming-events {
  float: right;
  padding-right: 3.5rem;
  margin-top: -3.8rem;
}

.breakpoint-w-599 .upcoming-events {
  clear: left;
  float: none;
  margin-top: 0;
  padding: 0 3.5rem 1rem 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem
}

  .breakpoint-phone .upcoming-events {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .upcoming-events__navigation {
    height: 2rem;
  }

  .breakpoint-w-599 .upcoming-events__navigation {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
  }

    .upcoming-events__up-next {
      display: none;
    }

    .breakpoint-w-599 .upcoming-events__up-next {
      color: var(--primary-color-lighter);
      display: block;
      float: left;
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .breakpoint-phone-wide .upcoming-events__navigation,
    .breakpoint-phone .upcoming-events__navigation {
      display: none;
    }

    .upcoming-events__view-all {
      color: var(--primary-color-lighter);
      float: right;
      font-size: 1.4rem;
    }

    .breakpoint-w-599 .upcoming-events__view-all span {
      display: none;
    }

    .upcoming-events__view-all:hover,
    .upcoming-events__view-all:focus {
      color: #fff;
    }

    .upcoming-events__view-all i {
      font-size: .8rem;
      padding-left: 1.2rem;
      vertical-align: middle;
    }

  .upcoming-events__list {
    padding-top: 1.5rem;
  }

  .breakpoint-w-599 .upcoming-events__list {
    padding-top: 0;
  }

  .upcoming-events__item {
    border-left: 1px solid rgba(255,255,255,0.2);
    float: left;
    height: 9.5rem;
    width: 19.5rem;
  }

  /* Hide events on smaller screens */
  .breakpoint-w-1600 .upcoming-events__item:nth-child(6),
  .breakpoint-w-1450 .upcoming-events__item:nth-child(5),
  .breakpoint-w-1200 .upcoming-events__item:nth-child(4),
  .breakpoint-w-879 .upcoming-events__item:nth-child(3),
  .breakpoint-w-699 .upcoming-events__item:nth-child(2) {
    display: none;
  }

  .breakpoint-w-599 .upcoming-events__item {
    border-left: none;
    height: auto;
    width: 100%;
  }

  .upcoming-events__item:first-child {
    border-left: none;
  }

  .breakpoint-w-699 .upcoming-events__item:first-child {
    border-left: 1px solid rgba(255,255,255,0.2);
  }

  .breakpoint-w-599 .upcoming-events__item:first-child {
    border-left: none;
  }

  .upcoming-events__item-anchor {
    display: block;
    position: relative;
  }

    .upcoming-events__image-container {
      position: absolute;
      top: -28%;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      transition-property: transform, opacity;
      transition-duration: 150ms;
      transition-timing-function: cubic-bezier(.10, .10, .25, .90);
      width: 100%;
      z-index: 6;
      visibility: hidden;
    }

    .breakpoint-w-599 .upcoming-events__image-container {
      display: none;
    }

    .upcoming-events__item-anchor:hover .upcoming-events__image-container,
    .upcoming-events__item-anchor:focus .upcoming-events__image-container {
      transform: translateY(-1.5rem);
      opacity: 1;
      visibility: visible;


    }

    .upcoming-events__item-anchor:hover .upcoming-events__item-title,
    .upcoming-events__item-anchor:focus .upcoming-events__item-title {
      text-decoration: underline;
    }

      .upcoming-events__image-container img {
        max-width: 100%;
      }


    .upcoming-events__item-text-container {
      font-size: 1.6rem;
      display: block;
      height: 9.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 1.5rem;
      padding-top: 1rem;
      position: relative;
      z-index: 5;
    }

    .breakpoint-w-599 .upcoming-events__item-text-container {
      height: auto;
      padding: 0;
    }

      .upcoming-events__item-date {
        color: var(--primary-color-lighter);
        font-size: 1.3rem;
        padding-bottom: .6em;
      }

      .upcoming-events__item-series {
        color: var(--primary-color-lighter);
        font-size: 1.3rem;
        /*padding-top: .6em;*/
      }

      .breakpoint-w-599 .upcoming-events__item-date {
        float: left;
        margin-right: 5%;
        padding-bottom: 0;
        width: 22%;
      }

    .breakpoint-phone-wide .upcoming-events__item-date,
    .breakpoint-phone .upcoming-events__item-date {
      display: inline;
      float: none;
      width: auto;
    }

    .breakpoint-phone-wide .upcoming-events__item-date:before,
    .breakpoint-phone .upcoming-events__item-date:before {
      content: "Up next —";
    }

      .upcoming-events__item-title {
        color: #fff;
        font-family: var(--font-serif);
        font-weight: bold;
      }

      .breakpoint-w-599 .upcoming-events__item-title {
        display: block !important; /* Override clamp.js inline styling */
        float: left;
        width: 73%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .breakpoint-phone-wide .upcoming-events__item-title,
    .breakpoint-phone .upcoming-events__item-title {
      display: inline;
      float: none;
      width: auto;
    }
