/* Variables */

:root {
  --column-full: 168rem;
  --column-wide: 120rem;
  --column-mid: 94rem;
  --column-small: 86rem;
  --column-narrow: 60rem;
  --font-mono: "monaco", monospace;
  --font-sans: "Colfax", Helvetica, sans-serif;
  --font-serif: "FreightTextPro", "Hoefler Text", Palatino, serif;
  --primary-color: #009e8c;
  --primary-color-lighter: #ccefeb;
  --primary-color-light: #b4dbd7;
  --primary-color-darker: color(var(--primary-color) shade(15%));
  --text-color: #333;
  --max-width: 100%;
}

@import "../public/utilities/reset.css";
@import "../public/utilities/accessibility.css";
@import "../public/utilities/clearfix.css";
@import "../public/fonts/colfax.css";
@import "../public/fonts/freight-text-pro.css";
@import "../public/fonts/font-awesome.css";

@page {
  padding: 1.5cm
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-serif);
  max-width: auto;
}
body {
  font-size: 1.6rem;
  line-height: 1.4em
}

.asset-embed__header a {
  background-color: #666;
  display: block;
  height: 6.4rem;
  padding: 1.2rem 3.4rem 1.4rem;
  margin-top: -3.5rem;
  margin-left: -3.5rem;
  margin-right: -3.5rem;
  margin-bottom: 2.5rem;
  transition-property: background-color;
  transition-duration: 150ms;
}
  .asset-embed__header a:hover {
    background-color: #444
  }

  .audio-player--playing .asset-embed__header a {
    background-color: var(--primary-color);
  }

.asset-embed__header span {
  background-image: url(../public/masthead/wheeler-centre-logo.svg);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 100%;
  width: 100%;
}

@import "../public/figure/index.css";
@import "../public/audio-player/index.css";

/* Override and adjust audio player styles in embed context */

@media all and (max-width: 700px) {
  .asset-embed .audio-player__title {
    font-size: 2.2rem;
  }
}
@media all and (max-width: 499px) {
  .audio-player__listen {
    display: none;
  }
  .audio-player__duration {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
}
@media all and (max-width: 460px) {
  .asset-embed .audio-player {
    padding: 3.5rem 2.5rem 2.9rem;
  }
    .asset-embed .audio-player__title {
      font-size: 2rem;
    }
}
@media all and (max-width: 399px) {
  .asset-embed .audio-player {
    padding: 3.5rem 1.5rem 1.9rem;
  }
    .asset-embed .audio-player__title {
      font-size: 1.8rem;
    }
}

