.flarum-discussion {
  padding-bottom: 2rem;
  clear: both;
}
  .flarum-discussion__embed {
    border: none;
    display: block;
    width: 100%;
  }

  .flarum-discussion__before,
  .flarum-discussion__after {
    height: 2rem;
    opacity: 0.5
  }
  .flarum-discussion__inner {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
  }
  .flarum-discussion__inner:before,
  .flarum-discussion__inner:after {
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    height: 2rem;
  }
    .flarum-discussion__inner:before {
      background: radial-gradient(center top, ellipse farthest-side, rgba(0,0,0,0.08), rgba(0,0,0,0));
      top: 0;
    }
    .flarum-discussion__inner:after {
      background: radial-gradient(center bottom, ellipse farthest-side, rgba(0,0,0,0.1), rgba(0,0,0,0));
      bottom: 0;
      /*height: 3.5rem;*/
    }

  .flarum-discussion__title,
  .copy .flarum-discussion__title {
    font-weight: normal;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .flarum-discussion__title {
    color: #777;
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .flarum-discussion__footer,
  .copy .flarum-discussion__footer {
    /*color: #888;*/
    font-size: 1.5rem;
    font-family: var(--font-sans);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .flarum-discussion__disclaimer {
    color: #888;
    font-style: italic;
    font-size: 1.7rem;
  }
